- var test_img = 'xxx.jpg'
section.specials
  .section__header
    h2.section__title 今日至IN
    .section__nav
      ul
        li.hot
          a 男裝
        li
          a 女裝

  .specials__wrap
    ul.specials__blocks
      li
        a
          img(src='#{image_path}/homepage-specials.jpg',alt='')