section.slideshow
  .slides__wrap
    ul.slides
      //{loop $banner $k $v}
      li
        a(href="{$v['url']}", target='_blank', onclick="addclick({$v['id']},{$v['position_id']})")
          article.slide__content
            img.bg(src="{$v['code']}", alt="{$v['name']}")
      //{/loop}
    ul.slides__bullets
    a.slides__pager.prev
      span
        i.icon.icon-slideleft
    a.slides__pager.next
      span
        i.icon.icon-slideright