section.goods
  .section__header
    h2.section__title 潮品精选
    .section__tabs.section__nav.right
      ul
        li.current(data-sort='recommend')
          a 编辑精选
        li(data-sort='hot')
          a 最热单品
        li(data-sort='new')
          a 最新发布

  .item-list-container
    dl.big_img#big_img(style='display:block',data-page='1',data-sort='recommend')
      include section__goods__type-s
    .list-loading#list-loading
      .loading-message
        i.icon.icon-hand
        span 正在努力加载中....
  .clear
  .item-pagiation.clear#item-pagiation
    .show-more#dashboard-show-more 我要看更多

  .goods__categories
    span 你是否要找:
    ul
      //{loop $category $k $v}
      li
        a(target="_blank", href="{$v['url']}") {$v['name']}
      //{/loop}