//
   Created by edlee on 2/25/16.
section.slideshow
  .slides__wrap
    ul.slides
      li
        a(href='http://baidu.com',target='_blank')
          article.slide__content
            img.bg(src='http://www.1626.com/tpl/hi1626/images/temp/slideshow-1.jpg?dfdd', alt='')
      li
        a(href='http://baidu.com',target='_blank')
          article.slide__content
            img.bg(src='http://www.1626.com/tpl/hi1626/images/temp/slideshow-2.jpg?bbbb', alt='')
      li
        a(href='http://baidu.com',target='_blank')
          article.slide__content
            img.bg(src='http://www.1626.com/tpl/hi1626/images/temp/slideshow-3.jpg?dfs', alt='')
      li
        a(href='http://baidu.com',target='_blank')
          article.slide__content
            img.bg(src='http://www.1626.com/tpl/hi1626/images/temp/slideshow-4.jpg?eees', alt='')
      li
        a(href='http://baidu.com',target='_blank')
          article.slide__content
            img.bg(src='http://www.1626.com/tpl/hi1626/images/temp/slideshow-5.jpg?deee', alt='')
    ul.slides__bullets
    a.slides__pager.prev
      span
        i.icon.icon-slideleft
    a.slides__pager.next
      span
        i.icon.icon-slideright