li
  a(href='http://baidu.com')
    article.image(style='background-image:url(#{image_path}/#{test_img})')
      img.phantom(src='#{image_path}/#{test_img}',alt='')
    article.info
      span.info__content
        b.tag 潮鞋
        h3 打杂的小哥弄了个搞怪的潮牌就连冠希哥也忍不住和他合作
        p.desc 你现在阅读的，并不是真的文案。这些文字，只显示文案将会摆放的位置。我们会称呼这些文案为「假字」。