//{if $notice_ad}
section.ad
  .ad-wrap
    a(onclick="addclick({$notice_ad['id']},{$notice_ad['position_id']})", href="{$notice_ad['url']}")
      img(src="{$notice_ad['code']}", alt="{$notice_ad['name']}")
//{/if}