- var test_img = 'xxx.jpg'
section.specials
  .section__header
    h2.section__title 今日至IN
    .section__nav
      ul
        //{loop $category $k $v}
        li(class="{$v['class']}")
          a(href="{$v['url']}", target="_blank") {$v['name']}

        //{/loop}

  .specials__wrap
    ul.specials__blocks
      //{loop $ad_middle_four $k $v}
      li
        a(href="{$v['url']}", target="_blank", title="{$v['name']}")
          img(src="{$v['code']}",alt="{$v['name']}")
      //{/loop}