//{loop $share_list $k $v}
dd.item.longer(i="{$v['share_id']}",dtype="s")
  div
    .item-b_image
      a(href="{$v['url']}", target="_blank")
        img(src="{$v['img']}", alt="{$v['goods_name']}")
    .item-b_description
      .item-b_title
        a(href="{$v['url']}", target="_blank") {$v['goods_name']}
      .item-b_price.longer
        span {$v['goods_price']}
    .item-b_additional
      a(href="{$v['user_href']}", title="{$v['user_name']}")
        img(src="{$v['img_thumb']}")
      .item-value
        span.icon.icon-viewed
        span {$v['weight']}
        span.icon.icon-comment--s
        span {$v['comment_count']}
    .item-b_add_like.btn_like(l="b", sid="{$v['share_id']}", dtype="s", ed="0")
      img.harting(src="", alt="")
      i.icon.icon-heart
      span.like_count {$v['collect_count']}
//{/loop}