dd.item.longer(i="0",dtype="d")
  div
    .item-l_image
      a(href="http://192.168.0.230/note/2976488.html", target="_blank")
        img(src="http://192.168.0.230/public/upload/share/000/029/764/88/4929920b2a5ab5cd4b7c890385a382d2mrg1dq.jpg", alt="小型微型3D投影仪便携式家用高清办公教学1080P手持迷你LED投影机")
      dl.collocation
    .item-b_description
      .item-b_isnew
        span.item_tag NEW
        span 新发布
    .item-b_additional
      a(href="http://192.168.0.230/u/talk-236885.html", title="kkkkkenny")
        img(src="http://192.168.0.230//public/upload/avatar/000/23/68/85_1451257541_middle.jpg")
      .item-value
        span.icon.icon-viewed
        span 0
        span.icon.icon-comment--s
        span 0
    .item-b_add_like.btn_like(l="b", sid="2976488", dtype="s", ed="0")
      img.harting(src="", alt="")
      i.icon.icon-heart
      span.like_count 0

dd.item.longer(i="0",dtype="d")
  div
    .item-l_image
      a(href="http://192.168.0.230/note/2976488.html", target="_blank")
        img(src="http://192.168.0.230/public/upload/share/000/029/764/88/4929920b2a5ab5cd4b7c890385a382d2mrg1dq.jpg", alt="小型微型3D投影仪便携式家用高清办公教学1080P手持迷你LED投影机")
      dl.collocation
    .item-b_description
      .item-b_isnew
        span
          a(href="http://192.168.0.230/u/talk-236885.html", target="_blank") kkkkkenny
        span 喜欢此单品
    .item-b_additional
      a(href="http://192.168.0.230/u/talk-236885.html", title="kkkkkenny")
        img(src="http://192.168.0.230//public/upload/avatar/000/23/68/85_1451257541_middle.jpg")
      .item-value
        span.icon.icon-viewed
        span 0
        span.icon.icon-comment--s
        span 0
    .item-b_add_like.btn_like(l="b", sid="2976488", dtype="s", ed="0")
      img.harting(src="", alt="")
      i.icon.icon-heart
      span.like_count 0