- var test_img = 'xxx.jpg'
//{if $hot_news}
section.hot-news
  .section__header
    h2.section__title 热门资讯
    .section__nav.right
      ul
        li
          a(href='{$_FANWE[site_url]}zixun/', target='_blank') 更多资讯

  ul.news-blocks
    //{loop $hot_news $k $v}
    li
      a(href="{$v['url']}")
        article.image(style="background-image:url({$v['thumb']})")
          img.phantom(src="{$v['thumb']}", alt="{$v['title']}" )
        article.info
          span.info__content
            b.tag {$v['cate_name']}
            h3 {$v['title']}
            p.date {$v['output_time']}
    //{/loop}
//{/if}