@import "../../../../public_inc/source/less/imports";

@img-location:'/tpl/hi1626/images/starwars';
//@img-location:'../../images/starwars';


img{
  border: 0;
}

a{
}

body,html{

}

section.draw {
  position: relative;
  .scratch-result,
  .scratch-cover {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1;
  }
}