section.actions(style='display:none')
  article.remain
    h3 #{text_6}
    h1
      span 1
      | 次
  article.again
    a.button.shine.red.touchable.share #{text_9}
    a.button.shine.blue.touchable.again #{text_10}