-var text_1   = '请选择你所在的区域'
-var text_2   = '北京潮人'
-var text_3   = '上海潮人'
-var text_4   = '活动规则说明'
-var text_5   = '你现在阅读的，并不是真的文案。这些文字，只显示文案将会摆放的位置。我们会称呼这些文案为「假字」。为何要用「假字」？因为在一般的情况下，在向客户作初步提案时，我们通常只会先拟好主副标题和画面，其他的细节如文案等，会待双方作进一步的商量后，才再发展下去。当然，撰稿员在撰写真的文案前，文案的流程、长度、语调等等，其实心目中已有一​​个腹稿。这段假文案，你竟也真的用心细看，谢谢。'
-var text_6   = '今天可以发动抽奖'
-var text_7   = '获得由CATALOG发出的'
-var text_8   = '差点就抽到了!'
-var text_9   = '分享好友再获机会'
-var text_10  = '再来一次'
-var text_11  = '你的抽奖机会用光了! 赶快求助好友补充潮力吧~'
-var text_12  = '"求助! 我的机会用光了!"'
-var text_13  = '拿去不谢'
-var text_14  = '我也要玩'
-var text_15  = '提交'
-var text_16  = '我的邀请码'
-var text_17  = '登记信息将有机会参与3月26日CATALOG门店'
-var text_18  = '抽签购买adidas NMD RUNNER PK的活动'
-var text_19  = 'adidas NMD 限量版购买邀请码'
-var text_20  = '请填写个人信息'
-var text_21  = 'adidas NMD RUNNER PK 购买邀请码'
-var text_22  = '提交成功!'
-var text_23  = '3月26日11:30前凭身份证及官方确认电邮到'
-var text_24  = 'CATALOG北京三里屯店'
-var text_25  = '进行排队抽签购买'
-var text_26  = '到达时间'
-var text_27  = '2016年3月26日 11:30前'
-var text_28  = '门店地址'
-var text_29  = '朝阳区三里屯太古里北区地下1层NLG-00号'
-var text_30  = '门店电话'
-var text_31  = '010-64162108'
-var text_32  = '身份证及官方确认电邮(25日发出)'
-var text_33  = 'CATALOG上海环贸广场店'
-var text_34  = '2016年3月26日 10:00'
-var text_35  = '徐汇区淮海中路999号上海环贸广场4层421-422号'
-var text_36  = '021-54667563'
-var text_37  = '分享给好友'
-var text_38  = '让小伙伴来帮你来增加抽奖机会吧!'
-var text_39  = '你的抽奖机会用光了!'
-var text_40  = '赶快求助好友增加机会吧!'
-var text_41  = '下次吧'
-var text_42  = '恭喜你!'
-var text_43  = '你已成功提交资料'
-var text_44  = '相信你会获得这份幸运的～'
-var text_45  = '中奖名单将于3月25日公布'
-var text_46  = '查看活动规则说明'
-var text_47  = '3月26日10:00前凭身份证及官方确认电邮到'