-var text_1   = '请选择你所在的区域'
-var text_2   = '北京潮人'
-var text_3   = '上海潮人'
-var text_4   = '活动规则说明'
-var text_5   = '你现在阅读的，并不是真的文案。这些文字，只显示文案将会摆放的位置。我们会称呼这些文案为「假字」。为何要用「假字」？因为在一般的情况下，在向客户作初步提案时，我们通常只会先拟好主副标题和画面，其他的细节如文案等，会待双方作进一步的商量后，才再发展下去。当然，撰稿员在撰写真的文案前，文案的流程、长度、语调等等，其实心目中已有一​​个腹稿。这段假文案，你竟也真的用心细看，谢谢。'
-var text_6   = '今天可以发动抽奖'
-var text_7   = '恭喜你获得由Catalog发出的Adidas限量版购买邀请码'
-var text_8   = '差点就抽到了!'
-var text_9   = '分享好友再获机会'
-var text_10  = '再来一次'
-var text_11  = '你的抽奖机会用光了! 赶快求助好友补充潮力吧~'
-var text_12  = '"求助! 我的机会用光了!"'
-var text_13  = '拿去不谢'
-var text_14  = '我也要玩'