section.panda(style='display:none;')
  article.panda-body
    

  article.holding-drink
    .drink
      .liquid
        img.type(src='')
        .color
          .filling
      .glass-bottle
    .fingers