section.glasses(style='display:none;')
  
  <svg width="0" height="0">
  <defs>
  <clipPath id="cupClip">
  <path d="M9.001,2c0,0-8.997-0.746-9,7s0,155,0,155s0.158,6,8,6s170,1,170,1 s5.986,0.178,8-11s13.14-81.911-1-154c-0.914-4.66-3.545-6-7-6C174.546,0,9.001,2,9.001,2z"/>
  </clipPath>
  </defs>
  </svg>
  article.glass-row
    ul
      li.glass
        .color
          .filling
        .glass-and-ice
      li.glass
        .color
          .filling
        .glass-and-ice
      li.glass
        .color
          .filling
        .glass-and-ice
      li.glass
        .color
          .filling
        .glass-and-ice
      li.glass
        .color
          .filling
        .glass-and-ice

  .fluid

  h3 倾斜手机倒出软饮