-var production = true
.item-list-filter
  .item-nav-container
    //.item-nav.first.current
    //  |热门单品
    //  a.count {$count}
    //.item-nav
    //  |潮牌
    //  a.count 30
    //.item-nav
    //  |潮店
    //  a.count 3
    //.item-nav
    //  |专辑
    //  a.count 31
  .item-filter-container
    //.item-filter
    //  a(href='#')
    //    span.icon.icon-album
    //    a(href='') 批量加入专辑
    //.item-filter
    //  a(href='#') 全部分类
    .item-filter.first
      a.show-new_list.current
        span.icon.icon-decendent
        |综合
      a.show-hot_list
        span.icon.icon-decendent
        |人气
    .item-filter
      a.show-big_list.current
        span.icon.icon-list_view
      a.show-small_list
        span.icon.icon-grid_view
.item-list-container
  dl.big_img#big_img
  dl.small_img#small_img
  .list-empty#list-empty
    .empty-content
      .empty-icon
        span.icon.icon-sad
      .empty-message
        span 你还没有关注任何人
        br
        label 不如从下面这堆潮流达人开始吧!
      .empty-action
        a(href="#") 回首页
  .list-loading#list-loading
    .loading-message
      span Loading....
.clear
.item-pagiation.clear#item-pagiation
  .show-more 我要看更多
script.
  $(document).ready(function () {
    window.dashboard_count = "{$count}";
    window.dashboard_list_data = $.parseJSON('{$list_json}');

    init_dashboard();
  });
