:php
  $current_css[] = './tpl/hi1626/css/login/vendor/normalize.css';
  $current_css[] = './tpl/hi1626/css/myspace/my-space.min.css';
//{template page/u/u_header}
.item-list-filter
  .item-nav-container
    //.item-nav.first.current
    //  |潮人
    //  a.count {$count}
    //.item-nav
    //  |潮牌
    //  a.count 30
    //.item-nav
    //  |潮店
    //  a.count 3
    //.item-nav
    //  |专辑
    //  a.count 31
  .item-filter-container
    .item-filter.first
      a(href='#')
        span.icon.icon-album
        a(href='') 批量加入专辑
    .item-filter
      a(href='#') 全部分类
    .item-filter
      a.current(href='#')
        span.icon.icon-decendent
        |综合
      a(href='#')
        span.icon.icon-decendent
        |人气
    .item-filter
      a.current(href='#')
        span.icon.icon-list_view
      a(href='#')
        span.icon.icon-grid_view

.item-list-container
  dl.big_img
    //{loop $list $k $item}
    dd.item
      div
        //{if $item['dynamic_type'] == 1}
        .item-l_image
          a(href="{$item['url']}")
            img(src="{getimg $item['img'] 280 371}", alt="{$item['title']}")
          dl.collocation
            //{loop $item['goods'] $g $goods_item}
            dd.collocation_item
              .goods_item
                a(href="{$goods_item['url']}")
                  img(src="{getimg $goods_item['img'] 56 56}",alt="")
            //{/loop}
        .item-b_description
          .item-b_isnew
            //{if $item['is_dapei_like'] == 1 || $item['like_user_list']}
            //{loop $item['like_user_list'] $l $like_user}
            span
              //{if $l > 0}
              |,
              //{/if}
              a(href="{$like_user['user_href']}") {$like_user['user_name']}
            //{/loop}
            span
             | 喜欢此搭配
            //{else}
            span.item_tag NEW
            span 新发布
            //{/if}
        //{else}
        .item-b_image
          a(href="{$item['url']}")
            img(src="{getimg $item['img'] 280 280}", alt="{$item['title']}")
          //.item-add_special
          //  span.icon.icon-album
          //  span.addtext 加入专辑
          //.item-add_like
          //  span.icon.icon-heart
        .item-b_description
          .item-b_isnew
            //{if $item['is_share_fav'] == 1 || $item['like_user_list']}
            //{loop $item['like_user_list'] $j $like_user}
            span
              //{if $j > 0}
              |,
              //{/if}
              a(href="{$like_user['user_href']}") {$like_user['user_name']}
            //{/loop}
            span
             | 喜欢此单品
            //{else}
            span.item_tag NEW
            span 新发布
            //{/if}
          .item-b_title
            span {$item['title']}
          .item-b_price
            span ¥{$item['goods_price']}
        //{/if}
        .item-b_additional
          a(href="{$item['user_href']}")
            img.owner(src="{$item['img_thumb']}")
          .item-value
            span.icon.icon-viewed
            span {$item['view_count']}
            span.icon.icon-comment
            span {$item['comment_count']}
            //span.icon.icon-heart
            //span 23
        .item-b_add_like
          a
            span.icon.icon-heart
            br
            span.like_count {$item['like_count']}
    //{/loop}
  //dl.small_img
  //  dd.item
  //    div
  //      .item-s_image
  //        img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
  //      .item-s_description
  //        .item-s_owner
  //          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
  //        .item-s_action
  //          a.action-add_special
  //            span.icon.icon-album
  //          a.action-add_like
  //            span.icon.icon-heart
  //        .item-s_isnew
  //          span BQ,BQ,BQ
  //          span 等3人喜欢了
  //        .item-s_title
  //          span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
  //        .item-s_price
  //          span ¥2334.00
  //        .item-s_additional
  //          .item-value
  //            span.icon.icon-viewed
  //            span.count 123456
  //            span.icon.icon-hearted
  //            span.count 23
  //            span.icon.icon-comment
  //            span.count 234

.item-pagiation
