-var production = true
.item-list-filter
  .item-nav-container
    //.item-nav.first.current
    //  |热门单品
    //  a.count {$count}
    //.item-nav
    //  |潮牌
    //  a.count 30
    //.item-nav
    //  |潮店
    //  a.count 3
    //.item-nav
    //  |专辑
    //  a.count 31
  .item-filter-container
    .item-filter.first
      a(href='#')
        span.icon.icon-album
        a(href='') 批量加入专辑
    .item-filter
      a(href='#') 全部分类
    .item-filter
      a.current(href='#')
        span.icon.icon-decendent
        |综合
      a(href='#')
        span.icon.icon-decendent
        |人气
    .item-filter
      a.show-big_list.current
        span.icon.icon-list_view
          |大大大
      a.show-small_list
        span.icon.icon-grid_view
          |细细细
.item-list-container
  dl.big_img
  dl.small_img
  .list-empty
    .empty-content
      .empty-icon
        span.icon.icon-viewed
      .empty-message
        span 你还没有关注任何人
        br
        label 不如从下面这堆潮流达人开始吧!
      .empty-action
        a(href="#") 回首页

  .list-loading
    .loading-message
      span Loading....

  //{/if}
  //dl.small_img
  //  dd.item
  //    div
  //      .item-s_image
  //        img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
  //      .item-s_description
  //        .item-s_owner
  //          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
  //        .item-s_action
  //          a.action-add_special
  //            span.icon.icon-album
  //          a.action-add_like
  //            span.icon.icon-heart
  //        .item-s_isnew
  //          span BQ,BQ,BQ
  //          span 等3人喜欢了
  //        .item-s_title
  //          span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
  //        .item-s_price
  //          span ¥2334.00
  //        .item-s_additional
  //          .item-value
  //            span.icon.icon-viewed
  //            span.count 123456
  //            span.icon.icon-hearted
  //            span.count 23
  //            span.icon.icon-comment
  //            span.count 234

.item-pagiation
  .show-more 我要看更多
script.
  var dashboard_count = {$count};
  var list_data = {$list_json};
  var list_data1 = [
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399971295",
      "share_id": "2974930",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "【Sheldon现货】克罗心 Chrome hearts ch 纯黑 打底裤 十字马蹄",
      "goods_price": "379.00",
      "comment_count": "0",
      "view_count": "1",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/749/30/ce8eeba9d6cc4191c25dbf6f3a462fbf8G6az8_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2974930.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/749/30/ce8eeba9d6cc4191c25dbf6f3a462fbf8G6az8_185x185.jpg"
    },
    {
      "uid": "8102",
      "dapei_id": null,
      "create_time": "1399960541",
      "share_id": "2964489",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "经典 RICOH理光RX-50date AF30mm定焦 准专业35mm便携旁轴相机",
      "goods_price": "225.00",
      "comment_count": "0",
      "view_count": "1",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/81/02_small.jpg",
      "user_name": "elechi_55",
      "img": "http://192.168.0.230/./public/upload/share/000/029/644/89/16f5eaf90d95fb40961dd80d531b1cfft8vt28_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-8102.html",
      "url": "http://192.168.0.230/note/2964489.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/644/89/16f5eaf90d95fb40961dd80d531b1cfft8vt28_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399950335",
      "share_id": "2962779",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 原宿麻叶手绘手机壳",
      "goods_price": "45.00",
      "comment_count": "0",
      "view_count": "1",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/627/79/1f8b9eba8a0c1e951d45e5c571d38363474J22_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2962779.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/627/79/1f8b9eba8a0c1e951d45e5c571d38363474J22_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399950282",
      "share_id": "2962772",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳DON'T touch me全包壳29元",
      "goods_price": "29.00",
      "comment_count": "0",
      "view_count": "2",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/627/72/139806e3069a783c812f563320aa3259EC5M5x_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2962772.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/627/72/139806e3069a783c812f563320aa3259EC5M5x_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399950246",
      "share_id": "2962768",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 原宿麻叶全包壳~29元",
      "goods_price": "29.00",
      "comment_count": "0",
      "view_count": "1",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/627/68/0193fdb2c74669ab63f8c8f838145695UMOMaE_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2962768.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/627/68/0193fdb2c74669ab63f8c8f838145695UMOMaE_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": null,
      "create_time": "1399942492",
      "share_id": "2961849",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "3",
      "dynamic_type": 2,
      "title": "浓烈的WORKWEAR味道 WEMOTO SNAPBACK CAP",
      "goods_price": "459.00",
      "comment_count": "0",
      "view_count": "8",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/01/03_1379024549_small.jpg",
      "user_name": "B君",
      "img": "http://192.168.0.230/./public/upload/share/000/029/618/49/05b87b21040f104f8399920cc5ad0550RZKcAX_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-103.html",
      "url": "http://192.168.0.230/note/2961849.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/618/49/05b87b21040f104f8399920cc5ad0550RZKcAX_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": null,
      "create_time": "1399942037",
      "share_id": "2961792",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "51",
      "dynamic_type": 2,
      "title": "日常感进化 NIKE  ROSHE RUN SLIP-ON",
      "goods_price": "559.00",
      "comment_count": "2",
      "view_count": "234",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/01/03_1379024549_small.jpg",
      "user_name": "B君",
      "img": "http://192.168.0.230/./public/upload/share/000/029/617/92/e63f9e7094206bdbc779920b9db6abd1eQ4DuZ_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-103.html",
      "url": "http://192.168.0.230/note/2961792.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/617/92/e63f9e7094206bdbc779920b9db6abd1eQ4DuZ_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": null,
      "create_time": "1399941240",
      "share_id": "2961733",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "12",
      "dynamic_type": 2,
      "title": "测量神器 Fashionary身体测量卷尺",
      "goods_price": "98.00",
      "comment_count": "1",
      "view_count": "84",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/01/03_1379024549_small.jpg",
      "user_name": "B君",
      "img": "http://192.168.0.230/./public/upload/share/000/029/617/33/0339e6b3ed092c914dfa9438d6958b04LIg4WX_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-103.html",
      "url": "http://192.168.0.230/note/2961733.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/617/33/0339e6b3ed092c914dfa9438d6958b04LIg4WX_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": null,
      "create_time": "1399940608",
      "share_id": "2961647",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "1",
      "dynamic_type": 2,
      "title": "为世界杯准备 足球时尚系列 NIKE FC「SEM RISCO NAO HA VITORIA」COLLECTION N98 JACKET",
      "goods_price": "619.00",
      "comment_count": "0",
      "view_count": "10",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/01/03_1379024549_small.jpg",
      "user_name": "B君",
      "img": "http://192.168.0.230/./public/upload/share/000/029/616/47/1949a56e6b1044589483751734f77a0b24cXWa_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-103.html",
      "url": "http://192.168.0.230/note/2961647.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/616/47/1949a56e6b1044589483751734f77a0b24cXWa_185x185.jpg"
    },
    {
      "uid": "209014",
      "dapei_id": null,
      "create_time": "1399937197",
      "share_id": "2961145",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "24",
      "dynamic_type": 2,
      "title": "WONDER HOMIE 狮头铺首 棒球帽 蛇皮 土豪敲门 黑白拼色 SNAPBACK",
      "goods_price": "399.00",
      "comment_count": "1",
      "view_count": "98",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/20/90/14_1399881529_small.jpg",
      "user_name": "NewCapCity新帽城",
      "img": "http://192.168.0.230/./public/upload/share/000/029/611/45/cbe892902179b16f9e238b7178adfbderIgBIQ_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-209014.html",
      "url": "http://192.168.0.230/note/2961145.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/611/45/cbe892902179b16f9e238b7178adfbderIgBIQ_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": null,
      "create_time": "1399932503",
      "share_id": "2960553",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "极简扬声器  Harman Kardon Aura 扬声器",
      "goods_price": "2499.00",
      "comment_count": "0",
      "view_count": "4",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/01/03_1379024549_small.jpg",
      "user_name": "B君",
      "img": "http://192.168.0.230/./public/upload/share/000/029/605/53/538304b7c0d3de5ad1e6f0621a41635emGBIcd_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-103.html",
      "url": "http://192.168.0.230/note/2960553.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/605/53/538304b7c0d3de5ad1e6f0621a41635emGBIcd_185x185.jpg"
    },
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399928084",
      "share_id": "2960007",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "【Sheldon现货】STUSSY BLACK/WHITE BARS T-SHIRT 新款 短袖",
      "goods_price": "249.00",
      "comment_count": "0",
      "view_count": "4",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/600/07/c42aba8905dad591f12878a620c5f414Dqaicn_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2960007.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/600/07/c42aba8905dad591f12878a620c5f414Dqaicn_185x185.jpg"
    },
    {
      "uid": "8102",
      "dapei_id": null,
      "create_time": "1399869435",
      "share_id": "2941249",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "全新 RICOH 理光R1s/Data 135专业便携旁轴相机 单反备机",
      "goods_price": "789.00",
      "comment_count": "-5",
      "view_count": "1",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/81/02_small.jpg",
      "user_name": "elechi_55",
      "img": "http://192.168.0.230/./public/upload/share/000/029/412/49/a8d121b6c4ece537033ef475c601cc7f1042Yc_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-8102.html",
      "url": "http://192.168.0.230/note/2941249.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/412/49/a8d121b6c4ece537033ef475c601cc7f1042Yc_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399866021",
      "share_id": "2940675",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 夏天到啦吃樱桃啦~29元",
      "goods_price": "29.00",
      "comment_count": "-5",
      "view_count": "2",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/406/75/b2c5089d8ab7c4c70ef1aa9643dd734bOI3TO9_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2940675.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/406/75/b2c5089d8ab7c4c70ef1aa9643dd734bOI3TO9_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399865981",
      "share_id": "2940672",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 夏天到啦西瓜啦~29元",
      "goods_price": "29.00",
      "comment_count": "-5",
      "view_count": "5",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/406/72/fda49f1bbb978e11fb49621972bc9f855ZK1kK_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2940672.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/406/72/fda49f1bbb978e11fb49621972bc9f855ZK1kK_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399865944",
      "share_id": "2940668",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 夏天到啦吃香蕉啦~29元",
      "goods_price": "29.00",
      "comment_count": "-5",
      "view_count": "3",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/406/68/3291535cab37d3b3cdff74a09b17cc26nqY0uN_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2940668.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/406/68/3291535cab37d3b3cdff74a09b17cc26nqY0uN_185x185.jpg"
    },
    {
      "uid": "40095",
      "dapei_id": null,
      "create_time": "1399865902",
      "share_id": "2940662",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "7",
      "dynamic_type": 2,
      "title": "大冉手作 纯手绘手机壳iPhone5s手机壳 吃椰子咯 怎么是椰子树啊",
      "goods_price": "45.00",
      "comment_count": "-5",
      "view_count": "64",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/04/00/95_1392059076_small.jpg",
      "user_name": "猫熊Colin",
      "img": "http://192.168.0.230/./public/upload/share/000/029/406/62/67394992c8b31b903c360a430fd0ad94j576xj_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-40095.html",
      "url": "http://192.168.0.230/note/2940662.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/406/62/67394992c8b31b903c360a430fd0ad94j576xj_185x185.jpg"
    },
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399861317",
      "share_id": "2940237",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "【Sheldon现货】STUSSY 8 BALL STITCH T-SHIRT 新款8球 短袖",
      "goods_price": "249.00",
      "comment_count": "-5",
      "view_count": "2",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/402/37/486178fbb0af5a2e372485dfc2a282fes31ZDj_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2940237.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/402/37/486178fbb0af5a2e372485dfc2a282fes31ZDj_185x185.jpg"
    },
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399835876",
      "share_id": "2934292",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "0",
      "dynamic_type": 2,
      "title": "【Sheldon现货】STUSSY NO.4 FADE T-SHIRT 新款N4 短袖",
      "goods_price": "249.00",
      "comment_count": "-5",
      "view_count": "4",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/342/92/6b32cc60a4d43be59c3c5a3e4a395ff0Ir5Z20_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2934292.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/342/92/6b32cc60a4d43be59c3c5a3e4a395ff0Ir5Z20_185x185.jpg"
    },
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399757839",
      "share_id": "2926127",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "127",
      "dynamic_type": 2,
      "title": "【sheldon现货】洗鞋神器jason markk 4oz 顺丰到付",
      "goods_price": "135.00",
      "comment_count": "-5",
      "view_count": "385",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/261/27/3540e81e0edd22bfa0a2d026cfb5b60ew1nEN2_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2926127.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/261/27/3540e81e0edd22bfa0a2d026cfb5b60ew1nEN2_185x185.jpg"
    },
    {
      "uid": "8102",
      "dapei_id": null,
      "create_time": "1399733881",
      "share_id": "2923823",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "17",
      "dynamic_type": 2,
      "title": "好成色 复古 电动铁皮装甲车70——80年代初生产",
      "goods_price": "895.00",
      "comment_count": "-5",
      "view_count": "116",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/00/81/02_small.jpg",
      "user_name": "elechi_55",
      "img": "http://192.168.0.230/./public/upload/share/000/029/238/23/2f60517270965079277a396a1999be8976sA7y_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-8102.html",
      "url": "http://192.168.0.230/note/2923823.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/238/23/2f60517270965079277a396a1999be8976sA7y_185x185.jpg"
    },
    {
      "uid": "27864",
      "dapei_id": null,
      "create_time": "1399709447",
      "share_id": "2923216",
      "is_dapei_like": null,
      "is_share_fav": null,
      "like_count": "16",
      "dynamic_type": 2,
      "title": "【sheldon现货】Supreme 13fw Diamond Rid Football Top",
      "goods_price": "1199.00",
      "comment_count": "-3",
      "view_count": "206",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/02/78/64_1394139974_small.jpg",
      "user_name": "sheldonz",
      "img": "http://192.168.0.230/./public/upload/share/000/029/232/16/07f032ea9dc978910c888326e455cd0ezJ4jH3_280x280.jpg",
      "user_href": "http://192.168.0.230/u/talk-27864.html",
      "url": "http://192.168.0.230/note/2923216.html",
      "like_total": 0,
      "img_small": "http://192.168.0.230/./public/upload/share/000/029/232/16/07f032ea9dc978910c888326e455cd0ezJ4jH3_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": "1230",
      "create_time": "1399571766",
      "share_id": null,
      "is_dapei_like": "1",
      "is_share_fav": null,
      "like_count": "4",
      "dynamic_type": 1,
      "title": "W hotel",
      "img": "http://192.168.0.230/./public/upload/dapei/2014/03/31/376a92961482624d126f3ec1d7ce175fY3oTOu_280x371.jpg",
      "comment_count": "0",
      "view_count": null,
      "user_name": "小mi陈俊威",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/03/39/90_1399156547_small.jpg",
      "url": "http://192.168.0.230/dapei/1230.html",
      "user_href": "http://192.168.0.230/u/talk-33990.html",
      "goods": [],
      "like_total": 1,
      "like_user_list": [
        {
          "uid": "103",
          "user_name": "B君",
          "user_href": "http://192.168.0.230/u/talk-103.html"
        }
      ],
      "img_small": "http://192.168.0.230/./public/upload/dapei/2014/03/31/376a92961482624d126f3ec1d7ce175fY3oTOu_185x185.jpg"
    },
    {
      "uid": "103",
      "dapei_id": "1234",
      "create_time": "1399571762",
      "share_id": null,
      "is_dapei_like": "1",
      "is_share_fav": null,
      "like_count": "8",
      "dynamic_type": 1,
      "title": "798",
      "img": "http://192.168.0.230/./public/upload/dapei/2014/04/02/960655e3c283e90905a069677965534aVjl99J_280x371.jpg",
      "comment_count": "1",
      "view_count": null,
      "user_name": "SexyIsSpeakin",
      "img_thumb": "http://192.168.0.230//public/upload/avatar/000/13/78/55_1396044489_small.jpg",
      "url": "http://192.168.0.230/dapei/1234.html",
      "user_href": "http://192.168.0.230/u/talk-137855.html",
      "goods": [],
      "like_total": 1,
      "like_user_list": [
        {
          "uid": "103",
          "user_name": "B君",
          "user_href": "http://192.168.0.230/u/talk-103.html"
        }
      ],
      "img_small": "http://192.168.0.230/./public/upload/dapei/2014/04/02/960655e3c283e90905a069677965534aVjl99J_185x185.jpg"
    }
  ];

  $(document).ready(function () {
    init_dashboard();
  });
if !production
