-var production = true
if production
  - var image_path  = './tpl/hi1626/v2/images/'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'
.item-list-filter
  .item-nav-container
    .item-nav.first.current
      a 热门单品
      span {$count}
    .item-nav
      a 潮牌
      span 30
    .item-nav
      a 潮店
      span 3
    .item-nav
      a 专辑
      span 31
  .item-filter-container
    //.item-filter
    //  a(href='#')
    //    span.icon.icon-album
    //    a(href='') 批量加入专辑
    //.item-filter
    //  a(href='#') 全部分类
    .item-filter.sort
      a.show-new_list.current
        i.icon.icon-decendent
        span 综合
      a.show-hot_list
        i.icon.icon-decendent
        span 人气
    .item-filter.mode
      a.show-big_list.current
        i.icon.icon-list_view
      a.show-small_list
        i.icon.icon-grid_view
        span.icon.icon-grid_view
.item-list-container
  dl.big_img#big_img
  dl.small_img#small_img
  .list-empty#list-empty
    .empty-content
      .empty-icon
        span.icon.icon-sad
      .empty-message
        span 你还没有喜欢任何单品
        br
        label 先看看其他人喜欢了什么吧!
      .empty-action
        a(href="#") 回首页
  .list-loading#list-loading
    .loading-message
      span Loading....
.item-pagiation.clear#item-pagiation
  .show-more 我要看更多

if !production
  script(src="../../js/mock/dashboard_listdata_20151228.js")
  script.
    $(document).ready(function () {
      window.dashboard_count = "{$count}";
      window.dashboard_list_data = $.parseJSON(MOCK_DATA);
      init_dashboard();
    });
else
  script.
    $(document).ready(function () {
      window.dashboard_count = "{$count}";
      window.dashboard_list_data = $.parseJSON('{$list_json}');

      init_dashboard();
    });

