-var production = true
.follow-list-container
  dl.follow-list#follow-list
  .list-empty#list-empty
    .empty-content
      .empty-icon
        span.icon.icon-sad
      .empty-message
        span 你还没有关注任何人
        br
        label 不如从下面这堆潮流达人开始吧!
      .empty-action
        a(href="#") 回首页
  .list-loading#list-loading
    .loading-message
      span Loading....
.clear
.item-pagiation.clear#pagiation
  .show-more#folloe-show-more 我要看更多
script.
  $(document).ready(function () {
    window.h_id = "{$home_uid}"
    window.follow_count = "{$count}";
    window.follow_list_data = $.parseJSON('{$follow_user_json}');

    init_follow();
  });