-var production = true
.item-list-filter#list-filter
.follow-list-container
  dl.follow-list#follow-list
  .list-empty#list-empty
    .empty-content
      .empty-icon
        span.icon.icon-sad
      .empty-message
        span.empty-title
        br
        label.empty-content
      .empty-action.return_home
        a 回首页
      .empty-action.clear_search#btnInitDashboardList
        a 返回
      .empty-action.publish_entrance#btnPublish
        a
          i.icon.icon-publish_solid
          | 发布
      .empty-action.follow-btn.fans__follow-btn#btnFollow
        .slider
          i.icon.icon-follow
          span.status_text 关注Ta
        .slider-btn
  .empty_recommand_title.item-nav-container#recommandTitle
    .item-nav.first.current
      a 热门潮人
  dl.empty_recommand.big_img#recommand
  .list-loading#list-loading
    .loading-message
      i.icon.icon-hand
      span 正在努力加载中....
.clear
.item-pagiation.clear#pagiation
  .show-more#folloe-show-more 我要看更多
script.
  $(document).ready(function () {
    window.follow_count = "{$count}";
    window.follow_list_string = '{$follow_user_json}';
    window.follow_list_data = {};
    window.follow_recommand_string = '{$list_approve_json}';
    window.follow_recommand_data = {};

    init_follow();
  });