<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  :php
      $current_css[] = './tpl/hi1626/css/login/vendor/normalize.css';
      $current_css[] = './tpl/hi1626/css/myspace/my-space.min.css';
  link(rel="stylesheet", type="text/css", href="{css $current_css}", media="all")
  link(rel="icon", href="{$_FANWE['site_root']}favicon.ico", type="image/x-icon")
  title 我的潮品
body
  .fixed-nav-container
    ul.fixed-nav
      li 
        a 手机更好玩
      li 
        a 帮助中心
      li.fixed-nav__avatar
        img
        span 
          a |退出
      li 消息
        span.fixed-nav__number.fixed-nav__number--blue 30
      li
        i 闪电
        span.fixed-nav__number.fixed-nav__number--orange 2

  .main-nav-container
    ul.main-nav
      li.main-nav__logo
        a
          img(src='/tpl/hi1626/images/login/logo-1626-black.svg')
      li 
        a 首页
      li 
        a 资讯
      li 
        a 潮闪购
      li 
        a 搭配
      li 
        a 达人
      li.main-nav__search
        input(type='text' placeholder='搜一下变美少女战士')
      li.main-nav__subscribe.main-nav--right
        i
        | 发布
      li.main-nav__me.main-nav--right
        img
        我的潮品

  div.profile-container
    div.profile
      img.profile__icon
      h3 藤原浩•威廉姆斯
      span.profile__level LV.2
      .medal
        a(href="")
        a(href="")
        a(href="")
      p 你现在阅读的，并不是真的文案
      a.profile__follow-btn
        i
        | 关注Ta
    div.content
      ul.content__actions
        li 新动态
        li 喜欢
        li 发布
      ul.content__relationship
        li 粉丝
        li 关注
