doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    //:php
        $current_css[] = './tpl/hi1626/css/login/vendor/normalize.css';
        $current_css[] = './tpl/hi1626/css/myspace/my-space.min.css';
    //link(rel="stylesheet", type="text/css", href="{css $current_css}", media="all")
    //link(rel="stylesheet", type="text/css", href="./tpl/hi1626/css/login/vendor/normalize.css", media="all")
    link(rel="stylesheet", type="text/css", href="../../css/myspace/myspace.min.css", media="all")
    link(rel="icon", href="{$_FANWE['site_root']}favicon.ico", type="image/x-icon")
    title 我的潮品
  body
    .item-list-filter
      .item-nav-container
        .item-nav.first.current
          潮人
        .item-nav
          潮牌
          a.count 30
        .item-nav
          潮店
          a.count 3
        .item-nav
          专辑
          a.count 31
      .item-filter-container
        .item-filter.first
          a(href='#')
            span.icon.icon-album
            a(href='') 批量加入专辑
        .item-filter
          a(href='#') 全部分类
        .item-filter
          a.current(href='#')
            span.icon.icon-decendent
            综合
          a(href='#')
            span.icon.icon-decendent
            人气
        .item-filter
          a.current(href='#')
            span.icon.icon-list_view
          a(href='#')
            span.icon.icon-grid_view


.item-list-container
  dl.big_img
    dd
      div
        .item-b_image
          img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
          //.item-add_special
          //  span.icon.icon-album
          //  span.addtext 加入专辑
          //.item-add_like
          //  span.icon.icon-heart
        .item-b_description
          .item-b_isnew
            span.item_tag NEW
            span 新发布
          .item-b_title
            span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
          .item-b_price
            span ¥2334.00
        .item-b_additional
          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
          .item-value
            span.icon.icon-viewed
            span 123456
            span.icon.icon-comment
            span 234
            //span.icon.icon-heart
            //span 23
        .item-b_add_like
          a
            span.icon.icon-heart
            br
            span.like_count 234
    dd
      div
        .item-b_image
          img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
          //.item-addtospecial
          //  span.icon.icon-album
          //  span.addtext 加入专辑
          //.item-addtolike
          //  span.icon.icon-heart
        .item-b_description
          .item-isnew
            span.item_tag NEW
            span 新发布
          .item-title
            span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
          .item-price
            span ¥2334.00
        .item-b_additional
          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
          .item-value
            span.icon.icon-viewed
            span 123456
            span.icon.icon-comment
            span 234
            //span.icon.icon-heart
            //span 23
        .item-b_add_like
          a
            span.icon.icon-heart
            br
            span.like_count 234
    dd
      div
        .item-b_image
          img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
          //.item-addtospecial
          //  span.icon.icon-album
          //  span.addtext 加入专辑
          //.item-addtolike
          //  span.icon.icon-heart
        .item-b_description
          .item-isnew
            span.item_tag NEW
            span 新发布
          .item-title
            span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
          .item-price
            span ¥2334.00
        .item-b_additional
          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
          .item-value
            span.icon.icon-viewed
            span 123456
            span.icon.icon-comment
            span 234
            //span.icon.icon-heart
            //span 23
        .item-b_add_like
          a
            span.icon.icon-heart
            br
            span.like_count 234
    dd
      div
        .item-b_image
          img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
          //.item-addtospecial
          //  span.icon.icon-album
          //  span.addtext 加入专辑
          //.item-addtolike
          //  span.icon.icon-heart
        .item-b_description
          .item-isnew
            span.item_tag NEW
            span 新发布
          .item-title
            span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
          .item-price
            span ¥2334.00
        .item-b_additional
          img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
          .item-value
            span.icon.icon-viewed
            span 123456
            span.icon.icon-comment
            span 234
            //span.icon.icon-heart
            //span 23
        .item-b_add_like
          a
            span.icon.icon-heart
            br
            span.like_count 234

  dl.small_img
    dd
      div
        .item-s_image
          img(src='http://cdn1626.clouddn.com/public/upload/share/000/044/126/73/69ca908e31ec4b129c8d87183809643fiCmBiT_310x310.jpg', alt='')
        .item-s_description
          .item-s_owner
            img.owner(src='http://cdn1626.clouddn.com/public/upload/avatar/000/00/00/90_1398644613_middle.jpg')
          .item-s_action
            a.action-add_special
              span.icon.icon-album
            a.action-add_like
              span.icon.icon-heart
          .item-s_isnew
            span BQ,BQ,BQ
            span 等3人喜欢了
          .item-s_title
            span HYBRID Boots New Balance MRH996 BT MRH996BR 高帮运动靴 轻量化
          .item-s_price
            span ¥2334.00
          .item-s_additional
            .item-value
              span.icon.icon-viewed
              span.count 123456
              span.icon.icon-hearted
              span.count 23
              span.icon.icon-comment
              span.count 234

.item-pagiation
