- var production = true
if production
  - var image_path  = './tpl/hi1626/v2/images/'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.profile-container
  .profile
    img(src='/tpl/hi1626/images/popslave/go_home.jpg').profile__icon
    h3 刹亚人之神
    span.profile__level LV.2
    .medal
      a(href="")
      a(href="")
      a(href="")
    p 你现在阅读的，并不是真的文案
    a.profile__follow-btn
      i.icon.icon-follow
      | 关注Ta
  .content
    ul.content__actions
      li
        i.icon.icon-news
        | 新动态
      li 
        i.icon.icon-heart
        | 喜欢
      li 
        i.icon.icon-publish
        | 发布
    ul.content__relationship
      li 
        i.icon.icon-fans
        | 粉丝
      li 
        i.icon.icon-following
        | 关注
//- TODO: put script tag below into footer 
//- script(type='text/javascript').
//-   $(document).ready(function () {
//-     init();
//-   });
