<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='description')
  - title = "{$_FANWE['title']}"
  title= title
  
  :php
      $current_css[] = './tpl/hi1626/css/login/vendor/normalize.css';
      $current_css[] = './tpl/hi1626/css/myspace/myspace.min.css';
      $current_js[] = './public/js/jquery-1.11.3.min.js';
      $current_js[] = './tpl/hi1626/js/myspace/myspace.js';
  
  link(rel="stylesheet", type="text/css", href="{css $current_css}", media="all")
  link(rel="icon", href="{$_FANWE['site_root']}favicon.ico", type="image/x-icon")
  script(type='text/javascript').
      var SITE_PATH = '$_FANWE[site_root]';
      var SITE_URL = '$_FANWE[site_url]';
      var TPL_PATH = '{TPL_PATH}';
      var PUBLIC_PATH  = '{PUBLIC_PATH}';
      var MODULE_NAME  = '{MODULE_NAME}';
      var ACTION_NAME  = '{ACTION_NAME}';
      var COOKIE_PRE = "$_FANWE['config']['cookie']['cookie_pre']";
      var TPL_NAME = '$_FANWE["setting"]["site_tmpl"]';
      var IS_POSTING = false;
  script(type='text/javascript' src="{script $current_js}")
  
body
  .fixed-nav-container
    ul.fixed-nav
      li.fixed-nav__phone
        a 
          i.icon.icon-phone
          | 手机更好玩
        .drop-down-list(style="z-index: 9000;")
          .iOS-qrcode
            img(src="/tpl/hi1626/images/hi1626_v2/top_pro_ios.jpg", alt="ios")
            p 扫码下载
          .os-choice
            .iTunes
              i.icon.icon-apple
              | iTunes
            .Android
              i.icon.icon-android
              | Android
            p 直接下载
          p.follow-us 关注我们！！
          .wechat
            img(src="/tpl/hi1626/images/hi1626_v2/top_pro_ios.jpg", alt="ios")
            p 你敢扫吗
          .weibo
            img(src="/tpl/hi1626/images/hi1626_v2/top_pro_ios.jpg", alt="ios") 
            p 潮人养成记 
      li.fixed-nav__help
        a 帮助中心
        ul.drop-down-list
          li 
            a 订单帮助
          li 
            a 发布指引
      li.fixed-nav__avatar
        //- if login
        //- img
        //- span 
        //-   a |退出
        //- else
        a 登录
        span |
        a 注册
      li 消息
        span.fixed-nav__number.fixed-nav__number--blue 30
      li
        i.icon.icon-flashbuy
        span.fixed-nav__number.fixed-nav__number--orange 2      

  .main-nav-container
    ul.main-nav
      li.main-nav__logo
        a
          img(src='/tpl/hi1626/images/login/logo-1626-black.svg')
      li 
        a 首页
      li 
        a 资讯
      li.main-nav__flashbuy
        a 潮闪购
      li 
        a 搭配
      li 
        a 达人
    .main-nav__search
      form
        i.icon.icon-search
        input(type='text' placeholder='搜一下变交街架')
        i.icon.icon-return
    ul.main-nav--right
      li.main-nav__me
        a 
          i.icon.icon-hand
          | 我的潮品
      li.main-nav__subscribe
        a 
          i.icon.icon-publish_solid
          | 发布

  .profile-container
    .profile
      img(src='/tpl/hi1626/images/popslave/go_home.jpg').profile__icon
      h3 刹亚人之神
      span.profile__level LV.2
      .medal
        a(href="")
        a(href="")
        a(href="")
      p 你现在阅读的，并不是真的文案
      a.profile__follow-btn
        i.icon.icon-follow
        | 关注Ta
    .content
      ul.content__actions
        li
          i.icon.icon-news
          | 新动态
        li 
          i.icon.icon-heart
          | 喜欢
        li 
          i.icon.icon-publish
          | 发布
      ul.content__relationship
        li 
          i.icon.icon-fans
          | 粉丝
        li 
          i.icon.icon-following
          | 关注
  //- TODO: put script tag below into footer 
  script(type='text/javascript').
    $(document).ready(function () {
      init();
    });
