- var production = true
if production
  - var image_path  = './tpl/hi1626/v2/images/'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.profile-container
  .profile
    .profile_mobile_bg
    img(src="{avatar $home_user['uid'] b 1 $home_user['img_thumb']}").profile__icon
    //{if $home_user['uid'] == $_FANWE['uid']}
    .profile__follow-btn.edit-profile-btn
      i.icon.icon-edit
      a.status_text(href="/home/account.html") 修改资料
    //{else}
    .profile__follow-btn.follow-btn
      .slider
        i.icon
        a.status_text
      .slider-btn
    //{/if}
    .name_container
      h3.name {$home_user['user_name']}
      //- span.profile__level LV.2
      //- .medal
      //-   a(href="")
      //-   a(href="")
      //-   a(href="")

      .profile__total-like
        span 发布被喜欢:&nbsp;
        b {$_FANWE['all_like_count']}
    p.profile__introduction {if $home_user['introduce'] == ""}
      | 这个人太潮了，不屑于填写简介
      //{else}
      | {$home_user['introduce']}
      //{/if}
    .profile__relationship
      .profile__relation-fans
        //i.icon.icon-fans-16
        span
      .profile__relation-follow
        //i.icon.icon-fans-16
        span
  .content
    .center-wrap
      .js-slide-bg
      .publish_alert
        .message
          i.icon.icon-sad
          span 请前往电脑网页版发布单品~
        .close_alert
          i.icon.icon-closepop
      ul.content__actions
        //{if $home_user['uid'] == $_FANWE['uid']}
        li.actions-db
          i.icon.icon-news
          span
            b $home_user['dynamic_count']
            |新动态
        //{/if}
        li.actions-fav
          i.icon.icon-heart
          span
            b $_FANWE['product_like_count']
            label Ta
            |喜欢
        li.actions-pub
          i.icon.icon-publish
          span
            b $home_user['publish_count']
            label Ta
            |发布
        li.relation-fans-m
          i.icon.icon-fans-16
          span
            b
            label Ta
            | 粉丝
        li.relation-follow-m
          i.icon.icon-following
          span
            b
            label Ta
            | 关注
      ul.content__relationship
        li.relation-fans
          i.icon.icon-fans-16
          span
            b
            label Ta
            |粉丝
        li.relation-follow
          i.icon.icon-following
          span
            b
            label Ta
            |关注
//- TODO: put script tag below into footer 
script(type='text/javascript').
  $(document).ready(function () {
    window.uid = "{$home_user['uid']}";
    window.myid = "{$_FANWE['uid']}";
    window.isfollow = "{$home_user['is_follow']}";
    window.count = "{$count}";
    window.state = "";
    window.fans_count = "$home_user['fans']";
    window.follow_count = "$home_user['follows']";
    init_u_header();
  });
