- var production = true
if production
  - var image_path  = './tpl/hi1626/v2/images/'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.profile-container
  .profile
    img(src="{avatar $home_user['uid'] b 1 $home_user['img_thumb']}").profile__icon
    h3 {$home_user['user_name']}
    //- span.profile__level LV.2
    //- .medal
    //-   a(href="")
    //-   a(href="")
    //-   a(href="")
    p.profile__introduction {if $home_user['introduce'] == ""}
      | 这个人太潮了，不屑于填写简介
      {else}
      | {$home_user['introduce']}
      {/if}
    .profile__follow-btn
      {if $home_user['uid'] == $_FANWE['uid']}
      i.icon.icon-edit
      a(href="/settings/psersonal.html") 修改资料
      {else}
      {if $home_user['is_follow'] == 0}
      .slider
        i.icon.icon-follow
        span.status_text(style="position:absolute; left:34px;") 关注Ta
      {else}
      .slider.slideright
        span.status_text(style="position:absolute; left:21px;") 已关注
        i.icon.icon-unfollow
      {/if}
      {/if}
  .content
    .js-slide-bg
    ul.content__actions
      {if $home_user['uid'] == $_FANWE['uid']}
      li.actions-db
        i.icon.icon-news
        | 新动态
      {/if}
      li.actions-fav
        i.icon.icon-heart
        | 喜欢
      li.actions-pub
        i.icon.icon-publish
        | 发布
    ul.content__relationship
      li 
        i.icon.icon-fans
        | 粉丝
      li 
        i.icon.icon-following
        | 关注
//- TODO: put script tag below into footer 
script(type='text/javascript').
  $(document).ready(function () {
    window.uid = "{$home_user['uid']}";
    window.myid = "{$_FANWE['uid']}";
    window.isfollow = "{$home_user['is_follow']}";
    window.count = "{$count}";
    init_u_header();
  });
