include source/jade/includes/head

<body style="background:#000; width: 100%;overflow: hidden;margin:0;padding:0;">
#absolut
  include source/jade/includes/absolut__bg
  include source/jade/includes/absolut__panda
  include source/jade/includes/absolut__intro
  include source/jade/includes/absolut__pick-drink
  include source/jade/includes/absolut__glasses
  include source/jade/includes/absolut__result
  include source/jade/includes/absolut__final
  include source/jade/includes/absolut__horizontal

  .gyro-spec(style='display:none')
    p 
      |alpha:
      span
    p 
      |beta:
      span
    p 
      |gamma:
      span

  audio.bgm(id='bgm',src='#{image_path}/bomb.mp3',controls='controls',loop='true',hidden='true',autoplay="autoplay",preload="auto")
  img.bgm_control.play(src='#{image_path}/bgm_play.png')

include source/jade/includes/foot