@import "../../../public_inc/source/less/imports";
.main-nav-container {
 .main-nav__search{
   .tips-menu {
     background: @light-grey;
     left: -20px;
     height: auto;
     border-left: 1px solid @grey;
     padding-right: 39px;
     .search-tips {

     }
     .tips-menuitem {

     }
     a.key-work {
       cursor: pointer;
       &:hover {
         background: white;
       }
     }
   }
 }
}