@import "../../../public_inc/source/less/imports";

.main-nav-container {
  .main-nav__search {
    .tips-menu {
      display: none;
      background: white;
      height: auto;
      border: 1px solid @grey;
      @media @pc {
        left: 10px;
        top: -8px;
        width: 150px;
        padding-right: 26px;
      }
      @media @mobile {
        top: -8px;
        left: 0;
        right: 0;
        width: 90%;
        margin: auto;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
      }
      &:before,&:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        @media @pc {
          left: 15px;
        }
        @media @mobile {
          left: 15%;
        }
      }
      &:before {
        top: -12px;
        border-bottom-color: @grey;
        border-width: 6px;
      }
      &:after {
        top: -11px;
        border-bottom-color: #ffffff;
        border-width: 6px;
      }
      .search-tips {
        height: auto;
        display: block;
      }
      .tips-menuitem {
        height: auto;
        display: block;
      }
      a.key-work {
        cursor: pointer;
        display: block;
        padding: 12px 0 12px 15px;
        font-size: @font-size-s;
        line-height: 1;
        &:hover {
          color:@blue;
        }
      }
    }
  }
  &.ucantseeme {
    .main-nav__search {
      .tips-menu {
        height: auto;
        .search-tips {
          height: auto;
          display: block;
        }
        .tips-menuitem {
          height: auto;
          display: block;
        }
        a.key-work {
          &:hover {
          }
        }
      }
    }
  }
}