@import "../../../public_inc/source/less/imports";

.main-nav-container {
  ._clearfix;
  position: relative;
  border-bottom: 1px solid #000;
  box-shadow: 0 3px rgba(0,0,0,0.3);
  @media @pc {
    z-index: 1626 + 1;
  }
  @media @mobile {
    z-index: 2000 + 1;
    &.fixed{
      .main-nav__search {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255,0);
        transition: all 0.3s;
        text-align: center;
        width: 50px;
        white-space: nowrap;
        .icon {
          color: @black;
          font-size: 20px;
          margin: auto;
          //line-height: 60px;
          &.icon-search{
            line-height: 50px;
            padding: 15px 15px 15px 5px;
            margin-left: 10px;
          }
          &.icon-cross{
            line-height: 50px;
            padding: 15px;
          }
          &.icon-return{
            display: none;
          }
        }
        input{
          display: none;
          color:@black;
          font-size: @font-size-m;
          position: relative;
          top: 2px;
          width: 60%;
        }
        &.shout_out{
          width:100%;
          background-color: rgba(255,255,255,1);
          text-align: left;
          .icon {
            &.icon-return {
              display: inherit;
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              padding: 15px;
              margin: auto;
            }
          }
          input{
            display: inherit;
          }
        }
      }
    }
  }
  .main-nav {
    ._clearfix;
    @media @pc {
      float: left;
    }
    background-color: white;
    li {
      &:nth-child(1){
        border-left: none;
        a {
          padding: 0 24px;
        }
      }
    }
    .main-nav__logo {
      a {
        line-height: 4.6em;
        img {
          width: 90px;
          height: 30.5px;
        }
        &:hover {
          border-bottom: none;
        }
      }
    }
    .main-nav__flashbuy {
      a {
        border-bottom: 0 solid @orange;
        &:hover {
          border-bottom: 6px solid @orange;
        }
      }
    }
  }
  .main-nav__search {
    height: 60px;
    div {
      display: inline-block;
      height: 60px;
      position: relative;
      width: 100%;
      @media @mobile {
        overflow: hidden;
      }
      .icon-return {
        position: absolute;
        right: 0;
        top: 19px;
      }
      input {
        border: none;
        outline: none;
        background: none;
        height: 100%;
        margin: 0;
        padding: 0;

      }
    }
    @media @pc {
      float: left;
      display: block;
      line-height: 3.4em;
      padding: 0 20px;
      border-left: 1px solid @grey;
      background-color: @light-grey;
      .icon {
        color: @grey;
        font-size: 21px;
      }
      input {
        font-size: 14px;
        font-weight: bold;
        width: 80%;
      }
    }
    @media @mobile {
      position: absolute;
      top: -60px;
      right: 0;
      background-color: rgba(0,0,0,0);
      transition: all 0.3s;
      text-align: center;
      width: 60px;
      white-space: nowrap;
      .icon {
        color: @white;
        font-size: 30px;
        margin: auto;
        //line-height: 60px;
        &.icon-search,&.icon-cross{
          line-height: 64px;
          padding: 14px;
        }
        &.icon-return{
          display: none;
        }
      }
      input{
        display: none;
        color:@white;
        font-size: @font-size-l;
        position: relative;
        top: 2px;
        width: 60%;
      }
      &.shout_out{
        width:100%;
        background-color: rgba(0,0,0,1);
        text-align: left;
        .icon {
          &.icon-return {
            display: inherit;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 15px;
            margin: auto;
          }
        }
        input{
          display: inherit;
        }
      }
    }
  }
  .main-nav--right {
    //float: right;
    background-color: white;
    z-index: 1626;
    position: absolute;
    right: 0;
    .main-nav__msg {
      display: none;
      padding: 0 21px;
      &:hover {
        color: @blue;
        .drop-down-list {
          right: 0;
          left: auto;
        }
      }
      .quit-span {
        a {
          padding: 4px 0;
          display: inline-block;
          margin-right: 12px;
          &:hover {
            border-bottom: none;
          }
          img {
            width: 20px;
          }
        }
      }
      .fixed-nav__number {
        font-size: 12px;
        border-bottom: 3px solid @blue;
        position: relative;
        top: -5px;
      }
      .drop-down-list {
        &:before {
          border: none;
        }
        li {
          color: @grey;
          width: auto;
          min-width: 110px;
          font-size: 10px;
          float: none;
          &:hover {
            .icon:before {
              color: @black;
            }
          }
          .number {
            color: @orange;
          }
          a {
            color: black;
            font-weight: normal;
            font-size: 13px;
            padding: 0 2px;
            display: inline-block;
            &:hover {
              color: black;
              cursor: pointer;
            }
          }
          .icon:before {
            font-size: 16px;
            color: @grey;
            margin-right: 7px;
          }
        }
        li.check-all {
          text-align: center;
          a {
            border-bottom: none;
          }
        }
      }
    }
    li {
      &.main-nav__me {
        .icon {
          position: relative;
          top: 2px;
          left: -2px;
        }
      }
      .icon-hand:before {
        font-size: 24px;
      }
      a {
        font-size: 14px;
        font-weight: bold;
        color: black;
      }
      &.main-nav__publish {
        a {
          border: none;
          background: white;
          transition: all 0.2s @timing-function;
          .icon {
            color: @blue;
            font-size: 20px;
            margin-right: 6px;
            position: relative;
            top: -1px;
          }
          &:hover {
            background: @blue;
            border: none;
            color: white;
            .icon {
              color: white;
            }
          }
        }
      }
    }
  }
}
.main-nav, .main-nav--right {
  li {
    @media @pc {
      float: left;
    }
    border-left: 1px solid @grey;
    a{
      display: block;
      height: 60px;
      //padding: 0 1.7em;
      //line-height: 3.5em;
      line-height: 60px;
      color: black;
      font-weight: bold;
      transition: all 0.2s @timing-function;
      box-sizing: border-box;
      border-bottom: 0 solid @blue;
      cursor: pointer;
      @media @pc {
        padding: 0 30px;
        font-size: 17px;
      }
      @media @mobile {
        text-align: center;
        font-size: 16px;
        width:100%
      }
      &:hover {
        border-bottom: 6px solid @blue;
      }
    }
    .current-page {
      border-bottom: 6px solid @blue;
    }
  }
  &.main-nav--right{
    @media @mobile {
      display:none;
    }
  }
  &.main-nav {
    @media @pc {
      .main-nav__hamburger,.main-nav__action {
        display: none;
      }
    }
    @media @mobile {
      column-count: 5;
      column-gap:0;
      .main-nav__logo,.main-nav__hamburger,.main-nav__action {
        display: none;
      }
      .main-nav__hamburger,.main-nav__action {
        text-align: center;
        border-left: none;
        i{
          display: block;
          //height: 50px;
          line-height: 1;
          color: black;
          //font-weight: bold;
          //margin: 0 5px;
          font-size: 20px;
          padding: 15px;
        }
      }
      &.fixed{
        column-count: 1;
        li{
          float: left;
          width:60px;
          text-align: center;
          &.main-nav__flashbuy{
            border-right: 1px solid @grey;
          }
          &.main-nav__hamburger{
            width:50px;
          }
          &.main-nav__action{
            position: absolute;
            top:0;
            right:0;
            width:90px;
            text-align: right;
            //padding-right: 10px;
            i{
              display: initial;
              padding: 15px;
              //line-height: 50px;
              //margin-right: 35px;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 35px;
            }
          }
          a{
            font-size: 16px;
          }
        }
        .main-nav__hamburger,.main-nav__action {
          display: block;
          line-height: 50px;
          i{
            padding: 15px 10px;
          }
        }
        .main-nav__c1,.main-nav__master{
          display: none;
        }
      }
    }
  }
}

.main-nav-container.fixed {
  top: 0 !important;
  z-index: 1627;
  transition: top .4s ease-out;

}

.main-nav-container.ucantseeme {
  position: fixed;
  top: -64px;
  transition: top .4s ease-out;
  width: 100%;
  z-index: 1627;
  .main-nav__msg {
    display: list-item;
  }
  .main-nav__logo {
    a {
      line-height: 60px !important;
    }
    img {
      width: 56px !important;
    }
  }
  .main-nav__search {
    height: 50px;
    line-height: 0;
    div {
      height: 50px;
      .icon-return {
        top: 16px;
      }
    }
    input {
      font-size: 13px !important;
      font-weight: bold;
    }
  }
  .main-nav, .main-nav--right {
    li a {
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.scroll-to-top {
  &.scroll-to-top {
    bottom: 70px;
    @media @mobile {
      display: none;
    }
    &:hover {
      //background: @blue;
      i {
        animation: rocket-launch 1.5s forwards linear;
        color: @blue;
      }
    }
  }

  position: fixed;
  right:-120px;
  //width:80px;
  //height:80px;
  background-color: white;
  text-align: center;
  z-index: 2000;
  transition: right .4s ease-out;
  cursor: pointer;
  //border: 1px solid grey;
  border-right: none;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 0 3px rgba(0,0,0,0.4);
  width: 54px;
  height: 66px;
  overflow: hidden;
  i{
    color:@dark-grey;
    font-size: 32px;
    top: 16px;
    left: 11px;
    position: absolute;
    transition: all 0.3s;
  }
  &.fixed{
    right:0px;
    z-index: 2000;
    transition: right .4s ease-out;
  }
  @keyframes rocket-launch {
    0% {
      top: 16px;
    }
    30% {
      top: 22px;
    }
    50% {
      top: -40px;
    }
    50.0001% {
      top: 72px;
    }
    60% {
      top: 72px;
    }
    100% {
      top: 16px;
    }
  }
}

body{
  @media @mobile{
    &.show-menu {
      overflow: hidden;
    }
  }
}

.wapper{
  @media @mobile{
    background-color: @x-dark-grey;
    width: 100vw;
    &.show-menu {
      overflow-x: hidden;
    }
  }
}
.content_container{
  position: relative;
  //overflow-x: hidden;
  //overflow-y: auto;
  background-color: @white;
  @media @mobile{
    transition: transform 0.3s;
    //overflow: hidden;
    &.show-menu {
      //position: absolute;
      transform: translateX(80%);
      box-shadow: 0 0 20px @black;
      .top_hamburger i{
        display: none;
      }
    }
  }
}
.fixed_menu {
  @media @pc {
    display: none;
  }
  @media @mobile {
    position: fixed;
    top: 0;
    left: -80%;
    //left: 0;
    right: auto;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: @x-dark-grey;
    transition: transform 0.3s;
    &.show-menu {
      transform: translateX(100%);
    }
    span{
      right: 30px;
      top:50px;
    }
    .menu-top-bar,.menu-bottom-bar{
      position: absolute;
      right:0;
      height:60px;
      line-height: 60px;
      width:100%;
      //background-color: @x-dark-grey;
      background-color: rgba(53,54,55,0.9);
      z-index: 2000;
      &.menu-top-bar{
        top:0;
        i{
          color: @white;
          font-size: 30px;
          padding: 15px 15px 15px 10px;
        }
      }
      &.menu-bottom-bar{
        bottom:0;
        a{
          color: @white;
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
    .menu-content-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      //width:100%;
      margin: auto;
      overflow-y: auto;
      overflow-x: hidden;
      //overflow: auto;
      background-color: @x-dark-grey;
      .menu-content {
        div {
          padding-left: 10px;
          height: 60px;
          //line-height: 60px;
          border-bottom: solid 1px @xx-dark-grey;
          position: relative;
        }
        .empty{
          border-bottom: none;
        }
        a, span {
          color: @white;
          font-size: 20px;
          height: 60px;
          line-height: 60px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0 10px;
        }
        i {
          color: @grey;
          font-size: 22px;
          line-height: 60px;
          position: relative;
          top: -4px;
          margin-right: 10px;
        }
        .menu-avatar, .menu-message, .menu-flashbuy, .menu-myspage {
          position: relative;
          background-color: @xx-dark-grey;
          border-bottom: solid 1px @black;
          &.menu-avatar {
            img {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 10px;
              margin: auto;
            }
            span {
              margin: 0 10px;
            }
            .nickname {
              position: absolute;
              left: 60px;
              right: 55px;
              top: 0;
              bottom: 0;
              margin: auto;
              overflow: hidden;
              text-overflow: ellipsis;
              padding:0;
            }
            .menu-logout {
              left:auto;
              right:10px;
              margin: auto;
              color: @grey;
            }
          }
          &.menu-message {

          }
          &.menu-flashbuy {
            iframe {
              border: 0;
              margin: 0 10px;
              background-color: #00d0dc;
              color: #222226;
              /* padding: 0 6px; */
              border-radius: 14px;
              position: relative;
              top: 6px;
              line-height: 22px;
              width: 26px;
              height: 26px;
              &body {
                color: @xx-dark-grey;
              }
            }
          }
          span.fixed-nav__number {
            margin: 0 10px;
            background-color: @blue;
            color: @xx-dark-grey;
            padding: 0 8px;
            border-radius: 14px;
            position: relative;
            top: 0;
            //left: 5px;
          }
        }

      }
    }
  }
}
