<!--{template page/user/header}-->
section.login-panel
    article.form-sidebar.above-tablet
        .hand-logo
            i.icon.icon-hand
        img.logo(src="/tpl/hi1626/images/login/logo-1626-black.svg")
        p 全球潮品优选
        h5 关注我们
        .social-media
            a.weibo(href='http://weibo.com/city1626', target='_blank')
                i.icon.icon-weibo
            a.wechat
                i.icon.icon-wechat
                .wechat-qr
                    img(src='/tpl/hi1626/images/login/wechat-qr.png')

    article.form-container
        .hand-logo.below-tablet
            i.icon.icon-hand

        .switch-header
            .switch-container
                .form-header.login
                    label.form-title
                        span 登录
                        img.logo(src="/tpl/hi1626/images/login/logo-1626-black.svg")
                    //a.switch.goto-register(href="#register") 新用户注册
                    //a.switch.goto-register(href="register.html") 新用户注册
                    a.switch.goto-register 新用户注册
                        i.icon.icon-sml.icon-switch
                .form-header.register
                    label.form-title
                        span 注册
                        img.logo(src="/tpl/hi1626/images/login/logo-1626-black.svg")
                    //a.switch.goto-login(href="#login") 登录
                    //a.switch.goto-login(href="login.html") 登录
                    a.switch.goto-login 登录
                        i.icon.icon-sml.icon-switch
                .form-header.nickname
                    label.form-title
                        span 注册成功
                        img.logo(src="/tpl/hi1626/images/login/logo-1626-black.svg")

        .form-wrap
            form#form-login(data-action='{u user/ajax_login}')
                ul
                    li.input-row
                        i.icon.icon-sml.icon-user
                        input.input-phone(type='text', value='', placeholder='请输入登录用户名 / 邮箱 / 手机号')
                    li.input-row
                        i.icon.icon-sml.icon-lock
                        input.inpset.input-password(type='password', value='', placeholder='请输入密码')
                        a.icon.icon-sml.icon-unseen(data-id='pass-ind', title='显示/隐藏密码')
                .form-actions
                    .form-options
                        input#remember.checkbox(type='checkbox', value='1', checked='checked', autocomplete='off')
                        label(for='remember') 10天內免登录
                        a.forget.text(href='{u user/forgetpassword}', title='忘记密码?', rel='nofollow') 忘记密码?
                    button#submitLogin.button.large.disabled.full-width(type="button") 登    录

            form#form-register(data-action='{u user/ajax_register}', autocomplete='off')
                ul
                    li.input-row
                        i.icon.icon-sml.icon-phone
                        input.input-phone(type='text', value='', placeholder='请输入登录邮箱 / 手机号', autocomplete='off')
                    li.input-row
                        i.icon.icon-sml.icon-lock
                        input.input-password(type='password', value='', placeholder='请输入密码', maxlength='20', autocomplete='off')
                        a.icon.icon-sml.icon-unseen(title='显示/隐藏密码')
                    li.input-row.captcha
                        i.icon.icon-sml.icon-captcha
                        input#captchaInput(type='text', value='', placeholder='请输入验证码', autocomplete='off', maxlength='5')
                        a.captcha(style='')
                    li#code_input.input-row(style='display:none')
                        i.icon.icon-sml.icon-captcha
                        input#mobCodeInput(type='text', value='', placeholder='短信中的验证码', autocomplete='off', maxlength='5')
                h5#resend_code(style='display: none')
                .form-actions
                    .form-options
                        input#agreed.checkbox(type='checkbox', value='1', checked='checked', autocomplete='off')
                        label(for='agreed') 我已阅读并同意遵守
                        a.text.show-terms(data-href='http://www.1626.com/about/privacy.html', style='float:none') 1626服务条款
                    button#submitInfo.button.large.disabled.full-width(type="button") 立即注册

            form#form-nickname(data-action='{u user/update_nickname}',autocomplete='off')
                .above-input
                    p
                        | 你现在的用户名是
                        span.text.old-nickname
                        br
                        | 要做个性超人,怎么也得起个酷炫的名号吧!
                ul
                    li.input-row
                        i.icon.icon-sml.icon-user
                        input.input-nickname(type='text', value='', placeholder='用户名', autocomplete='off', maxlength='15')
                .form-actions
                    button#submitNickname.button.large.disabled.full-width(type="button") 确    定
                    h5
                        a.text.nickname-skip(data-href='') 跳过

        .form-error
            i.icon.icon-sml.icon-error
            label
        .social-login
            h5 社交账号登录
            .social-links
                //a.wechat(href='{u login/weixin}', target='_blank', title='微信')
                //    i.icon.icon-wechat
                a.weibo(href='{u login/sina}', target='_blank', title='新浪微博')
                    i.icon.icon-weibo
                a.qq(href='{u login/qq}', target='_blank', title='QQ')
                    i.icon.icon-qq
        input(name='rhash', value='{FORM_HASH}', type='hidden')

.popup-wrap.full-screen(style='display: none')
    .popup-content(style='width: 70%;height:70%;')
        h3 服务条款
        article
        button.close-popup
            i.icon.icon-sml.icon-close-popup

<!--{template page/user/footer}-->