@mq-col-max: ~"only screen and (min-width: 1920px)";
@mq-col-5: ~"only screen and (min-width: 1610px) and (max-width:1919px)";
@mq-col-4: ~"only screen and (min-width: 1330px) and (max-width:1609px)";
@mq-col-3: ~"only screen and (min-width: 1020px) and (max-width:1329px)";
@mq-col-2: ~"only screen and (min-width: 680px) and (max-width:1019px)";
@mq-col-min: ~"only screen and (max-width:670px)";

._1626-breakpoints(@content-type) when (@content-type = "big-goods") {
  @min-width: (@big-goods__width + @big-goods__margin) * 2;
  @max-width: (@big-goods__width + @big-goods__margin) * 5;
  min-width: @min-width;
  max-width: @max-width;
  @media @mq-col-5 {
    width: @max-width;
  }
  @media @mq-col-4 {
    width: (@big-goods__width + @big-goods__margin) * 4;
  }
  @media @mq-col-3 {
    width: (@big-goods__width + @big-goods__margin) * 3;
  }
  @media @mq-col-2 {
    width: @min-width;
  }
}

._1626-breakpoints(@content-type) when (@content-type = "small-goods") {
  @min-width: (@big-goods__width + @big-goods__margin) * 2;
  @max-width: (@big-goods__width + @big-goods__margin) * 5;
  min-width: @min-width;
  max-width: @max-width;
  @media @mq-col-5 {
    width: @max-width;
  }
  @media @mq-col-4 {
    width: (@small-goods__width + @small-goods__margin) * 4;
  }
  @media @mq-col-3 {
    width: (@small-goods__width + @small-goods__margin) * 3;
  }
  @media @mq-col-2 {
    width: @min-width;
  }
}

._1626-breakpoints(@content-type) when (@content-type = "small-goods-margin") {
  @min-width: (@big-goods__width + @big-goods__margin) * 2;
  @max-width: (@big-goods__width + @big-goods__margin) * 5;
  @col4-width: (@big-goods__width + @big-goods__margin) * 4;
  @col3-width: (@big-goods__width + @big-goods__margin) * 3;
  margin: 18.2px;

  @media @mq-col-max {
    //margin: ((@max-width / 7) - @small-goods__width) / 2;
    margin: 18.2px;
  }

  @media @mq-col-5 {
    //margin: ((@max-width / 7) - @small-goods__width) / 2;
    margin: 18.2px;
  }
  @media @mq-col-4 {
    margin: ((@col4-width / 6) - @small-goods__width) / 2;
    //margin: 10.83px;
  }
  @media @mq-col-3 {
    margin: ((@col3-width / 4) - @small-goods__width) / 2;
    //margin: 23.75px
  }
  @media @mq-col-2 {
    margin: ((@min-width / 3) - @small-goods__width) / 2;
    //margin: 10.83px;
  }
  @media @mq-col-min {
    margin: ((@min-width / 3) - @small-goods__width) / 2;
  }
}

._1626-breakpoints(@content-type) when (@content-type = "others") {
  @min-width: (@big-goods__width + @big-goods__margin) * 2 - 30px;
  @max-width: (@big-goods__width + @big-goods__margin) * 5 - 30px;
  min-width: @min-width;
  max-width: @max-width;
  @media @mq-col-5 {
    width: @max-width;
  }
  @media @mq-col-4 {
    width: (@big-goods__width + @big-goods__margin) * 4 - 30px;
  }
  @media @mq-col-3 {
    width: (@big-goods__width + @big-goods__margin) * 3 - 30px;
  }
  @media @mq-col-2 {
    width: @min-width;
  }
}

._1626-breakpoints(@content-type) when (@content-type = "form_publish") {
  @media only screen and (min-width:1246px) {
    width: 1246px;
  }
  @media only screen and (min-width: 936px) and (max-width:1245px) {
    width: 936px;
  }
  @media only screen and (max-width:904px) {
    width: 620px;
  }
}