// ------------  File Paths  ------------

//@img-location:'/tpl/hi1626/v2/images';
@img-location:'../images'; // Local testing
//@font-file-path: '/tpl/hi1626/v2/fonts';
@font-file-path: '../fonts'; // Local testing

// ------------  Colors  ------------
@black: #000000;
@white: #ffffff;
@blue: #00d0dc;
@red: #ff006b;
@light-grey: #f0f0f0;
@grey: #b4b4b4;
@dark-grey: #808080;
@orange: #ff5000;

// ------------  Font Sizes  ------------
@font-size-xxs: 9px;
@font-size-xs: 12px;
@font-size-s: 14px;
@font-size-m: 16px;
@font-size-l: 18px;