@import "./common";
@msg_tab_height:50px;
@msg_tab_width:120px;
@msg_item_height:130px;

.msg_container{
  width:100%;
  border-radius: 5px 5px 0 0;
  background-color: @white;
  position: relative;
  .msg_tab{
    background-color: #f9f9f9;
    border-radius: 5px 5px 0 0;
    height:@msg_tab_height;
    position: relative;
    //overflow: hidden;
    box-shadow: inset 0 -2px 0.5px rgba(0, 0, 0, 0.1);
    dl{
      position: absolute;
      bottom:0;
      left:0;
      z-index: 3;
      dd{
        position: relative;
        float: left;
        width: @msg_tab_width;
        height: @msg_tab_height;
        line-height: @msg_tab_height;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        span{
          color:@grey;
          font-size: @font-size-s;
          font-weight: bold;
          transition: all 0.3s;
        }
        &.current{
          //border-radius: 5px 5px 0 0;
          //background-color: @white;
          span{
            color:@black;
            font-weight: bolder;
          }
        }
        &:hover{
          span{
            color:@black;
          }
        }
      }
    }

    .msg_tab_slider{
      background-color: @white;
      height: @msg_tab_height;
      width: @msg_tab_width;
      border-radius: 5px 5px 0 0;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      -webkit-transition: all 0.2s cubic-bezier(0,0,0.3,1);
      -moz-transition: all 0.2s cubic-bezier(0,0,0.3,1);
      -ms-transition: all 0.2s cubic-bezier(0,0,0.3,1);
      -o-transition: all 0.2s cubic-bezier(0,0,0.3,1);
      transition: all 0.2s cubic-bezier(0,0,0.3,1);
      box-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    }
    .mark_all_read{
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      line-height: @msg_tab_height;
      cursor: pointer;
      width: 110px;
      text-align: center;
      font-size: @font-size-s;
      color:@grey;
      transition: all 0.3s;
      &:hover{
        color:@red;
      }
      z-index: 3;
    }
  }

  .msg_content{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    position: relative;
    .msg_user_popup{
      display: none;
      position: absolute;
      width: 150px;
      padding-top: 25px;
      z-index: 2;
      .popup_content{
        background-color: @white;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        width: 150px;
        height: 235px;
        .base_info{
          background-color: #f0f0f0;
          height: 135px;
          position: relative;
          img{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 5px;
          }
          h3{
            font-weight: normal;
            position: absolute;
            bottom: 24px;
            left: 5px;
            right: 5px;
            margin: 0 auto;
            text-align: center;
            font-size: @font-size-l;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .ff_count{
            position: absolute;
            bottom: 5px;
            left: 15px;
            right: 15px;
            margin: auto;
            text-align: center;
            font-size: @font-size-xs;
            color: @dark-grey;
            -webkit-column-count:2;
            -moz-column-count:2;
            column-count:2;
            -webkit-column-gap:0;
            -moz-column-gap:0;
            column-gap:0;

          }
        }
        .introduce{
          color:@grey;
          padding: 10px;
          height:45px;
          overflow: hidden;
          span{
            font-size: @font-size-xs;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
          }
        }
        .follow-btn{
          position: absolute;
          bottom:10px;
          left:0;
          right:0;
          margin: auto;
        }
      }
      .popup_array{
        position: absolute;
        top: 17px;
        left: 10px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 8px solid @light-grey;
      }
    }

    //公用样式
    dd{
      position: relative;
      display: block;
      height: @msg_item_height;
      width:100%;
      border-bottom: solid 1px @light-grey;
      transition: all 0.3s;
      .mli_username{
        height: 37px;
        line-height: 35px;
        padding: 0 20px;
        a{
          cursor: pointer;
          font-size: @font-size-s;
          font-weight: bold;
          border-bottom: solid 1px @grey;
        }
        span{
          font-size: @font-size-s;
          margin-left: 10px;
          color: @dark-grey;
        }
      }
      .mli_datetime{
        position: absolute;
        top: 10px;
        right: 10px;
        span{
          font-size: @font-size-s;
          color: @grey;
        }
      }
      &.unread{
        .mli_datetime{
          span{
            color: @dark-grey;
          }
        }
      }
    }

    .ml_like{
      dd{
        .mli_product_info{
          border: solid 1px @light-grey;
          margin: 0 20px;
          max-width: 450px;
          height: 80px;
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          img{
            float: left;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto;
          }
          span{
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 80px;
            right: 10px;
            font-size: @font-size-s;
            color: @black;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: auto;
          }
        }
        &.unread{
          .mli_product_info{
            span{
              font-weight:bold;
            }
          }
        }
      }
    }
    .ml_follow{
      dd{
        .mli_user_thumb{
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 10px;
          width: 120px;
          img{
            width:100px;
            height:100px;
            border-radius: 50px;
            border: solid 1px @light-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .mli_user_info{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 120px;
          margin: auto;
          padding: 10px;
          .mli_username{
            padding: 0;
          }
          .ff_count{
            padding-top: 5px;
            div{
              float: left;
              margin-right:10px;
              font-size: @font-size-s;
              span{
                color: @black;
                font-size: @font-size-s;
              }
              label{
                color: @dark-grey;
                font-size: @font-size-s;
              }
            }
          }
          .introduce{
            padding-top: 10px;
            clear: both;
            span{
              color: @black;
              font-size: @font-size-s;
            }
            label{
              color: @dark-grey;
              font-size: @font-size-s;
            }
          }
        }
        .fans__follow-btn{
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .ml_comment{}
    .ml_system{
      dd{
        .mli_system_content{
          //margin: 10px;
          .mli_icon{
            position: absolute;
            top: 10px;
            left: 20px;
            i{
              font-size: 20px;
              font-weight: normal;
              color: @dark-grey;
              position: relative;
              top: -3px;
            }
          }
          .mil_system_text{
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 50px;
            //right: 25px;
            //max-width: 600px;
            width: 490px;
            margin: auto;
            h3{
              font-size: @font-size-s;
              margin: 0 0 10px 0;
              color: @dark-grey;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .rich_text_box,.summary_text{
              font-size: @font-size-s;
              color: @dark-grey;
              height: 42px;
              width: 490px;
              -webkit-word-break: break-all;
              display: -moz-box;
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              p{
                margin: 0;
              }
              a{
                color: @blue;
              }
            }
            //.summary_text{
            //  font-size: @font-size-s;
            //  color: @dark-grey;
            //  height: 42px;
            //  width: 490px;
            //  -webkit-word-break: break-all;
            //  display: -moz-box;
            //  overflow: hidden;
            //  text-overflow: ellipsis;
            //  word-break: break-all;
            //  -webkit-box-orient: vertical;
            //  -webkit-line-clamp: 3;
            //}
            .read_detail{
              margin: 10px 0 0 0;
              span {
                cursor: pointer;
                font-size: @font-size-s;
                color: @grey;
                border-bottom: solid 1px @grey;
                transition: all 0.3s;
                &:hover{
                  color:@blue;
                }
              }
            }
          }
        }
        &.unread{
          .mli_icon{
            i{
              color: @black;
            }
          }
          .mil_system_text{
            h3{
              color: @black;
            }
          }
          div.rich_text_box{
            p {
              color: @black;
            }
            a{
              color: @blue;
            }
          }
          .summary_text{
            color: @black;
          }
        }
      }
    }

    .message_detail{
      position: absolute;
      top:0;
      bottom:0;
      left: 0;
      right:0;
      margin:auto;
      background-color: @white;
      z-index:3;
      display: none;
      max-height:@msg_item_height*5;
      overflow: scroll;
      .message_info{
        height: 30px;
        padding: 10px;
        i{
          position: absolute;
          top: 10px;
          right: 10px;
          transition: all 0.3s;
          font-size: 24px;
          color: @grey;
          cursor: pointer;
          &:hover{
            color:@red;
          }
        }
        span{
          margin-right: 8px;
          font-size: @font-size-s;
          &.parent_name{
            color: @blue;
            cursor: pointer;
          }
        }
        .message_datetime{
          position: absolute;
          top: 30px;
          left: 10px;
          span{
            font-size: @font-size-xs;
            color: @grey;
          }
        }
      }
      .message_content{
        position: absolute;
        top:60px;
        bottom: 0;
        left: 0;
        right: 0;
        //max-height: (@msg_item_height*5)-60;
        overflow: scroll;
      }

    }
  }


}