.social-login
  h5 社交账号登录
  .social-links
    a.wechat(href='{u login/weixin}', target='_blank', title='微信')
      i.icon.icon-wechat
    a.weibo(href='{u login/sina}', target='_blank', title='新浪微博')
      i.icon.icon-weibo
    a.qq(href='{u login/qq}', target='_blank', title='QQ')
      i.icon.icon-qq
    a.taobao(href='{u login/taobao}', target='_blank', title='淘宝')
      i.icon.icon-taobao