article.form-sidebar.above-tablet
  .hand-logo
    i.icon.icon-hand
  img.logo(src="/tpl/hi1626/images/login/logo-1626-black.svg")
  p 全球潮品优选
  h5 关注我们
  .social-media
    a.weibo(href='http://weibo.com/city1626', target='_blank')
      i.icon.icon-weibo
    a.wechat
      i.icon.icon-wechat
      .wechat-qr
        img(src='/tpl/hi1626/images/login/wechat-qr.png')