<!DOCTYPE html>
html
  head(lang="en")
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width user-scalable=no maximum-scale=1')
    meta(name="keywords" content="{$seo_keyword}")
    meta(name="description" content="{$seo_description")
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-capable', content='yes')
    -title = "{$seo_title}"
    title= title


    :php
      $current_css[] = './tpl/hi1626/css/login/vendor/normalize.css';
      $current_css[] = './tpl/hi1626/css/bduck/dist/bduck.min.css';
      $current_js[] = './public/js/jquery-1.11.3.min.js';
      $current_js[] = './tpl/hi1626/js/bduck/bduck.js'

    link(rel="stylesheet", href="{css $current_css}" media="all")
    script(src="{script $current_js}")
  body.congrats-form
    .congrats-title
      img(src="./tpl/hi1626/images/bduck/congrats-min.png")
    form(action="{$api_urls['save_address']}")
      div
        label 姓名：
        input(type="text").input-name
      div
        label 电话：
        input(type="text").input-tel
      div
        label 地址：
        textarea(rows="5").input-addr
      button(type="submit").form-submit 提交

    <!--{if $is_wx}-->
    <!--{template inc/weixin_share}-->
    <!--{/if}-->
    <!--{template inc/count}-->

    script.
      $(document).ready(function () {
        window.lighten_url = "{$api_urls['lighten']}";
        window.deliver_url = "{$api_urls['save_address']}";
        init();
      });
        