#homepage-wrap {
  @media @mobile {
    width: 100%;
    overflow: hidden;
  }
}

img.phantom {
  width: 0;
  height: 0;
  opacity: 0;
}

#homepage-wrap {
  section {
    margin: 0 auto 46px;
    @media @mobile {
      margin: 0 auto 40px;
    }
  }
  section.goods {
    .item-pagiation {
      display: block;
    }
  }
}
