.slideshow {
  .slides__wrap {
    position: relative;
    overflow: hidden;
    height: 360px;
    .slides {
      ._clearfix;
      position: absolute;
      li {
        float: left;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
        a {
          display: block;
        }
      }
    }
    .slide__content {
      height: 360px;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      img.bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -100%;
        margin: auto;
        height: 100%;
        width: auto;
      }
    }
    .slides__bullets {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      ._clearfix;
      li {
        margin: 10px 5px;
        float: left;
        ._square(14px);
        border-radius: 50%;
        opacity: .4;
        background: white;
        cursor: pointer;
        &.current {
          background: @blue;
          opacity: 1;
        }
      }
    }
    .slides__pager {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      span {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: rgba(255,255,255,0.5);
        ._square(20px);
        padding: 30px 15px;
        transition: background 0.2s ease-out;
      }
      .icon {
        color: black;
        font-size: 20px;
        line-height: 1;
        vertical-align: top;
      }
      &.prev {
        left: 0;
        span {
          left: 0;
        }
      }
      &.next {
        right: 0;
        span {
          right: 0;
        }
      }
      &:hover {
        span {
          background: rgba(255,255,255,1);
        }
      }
    }
    &:hover {
      .slides__pager {
        opacity: 1;
      }
    }
  }
}


.slides--mobile__wrap {
  .new_slide {
    height: 130px;
    // margin: 0 10px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}


/* Slick Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  margin: 6px auto 0;
  width: 90px;
  ._clearfix;
  li {
    float: left;
    margin: 0 3px;
    button {
      width: 10px;
      height: 12px;
      background: @light-grey;
      border-radius: 100px;
      display: block;
      text-indent: 9999px;
      border: none;
    }
    &.slick-active {
      button {
        background: @blue;
      }
    }
  }
}