section.hot-news {
  .news-blocks {

    @margin:20px;
    @w: (1210px - @margin * 4) / 5;
    @h: 132px;

    width: 100%;
    margin-right: -@margin;
    ._clearfix;
    li {
      float: left;
      width: @w;
      height: @h;
      margin-right: @margin;
      .image {

      }
      .info {

      }
    }
  }
}