@blue: rgb(0,201,208);
@blue-hover: rgb(0,230,230);
@red: rgb(255,45,80);
@gray: rgb(204,204,204);

@img-location:'/tpl/hi1626/images/login';
//@img-location:'../../../img'; // Local testing

@font-file-path: '/tpl/hi1626/fonts';
//@font-file-path: '../../../fonts'; // Local testing

html {
}
body {
  font-family: "Open Sans","Hiragino Sans GB", "fzlth", "Helvetica Neue",  "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
dd {
  margin: 0;
}
dl {
  margin: 0;
}