@img-location:'/tpl/hi1626/images/bduck';
@gold: #fccf00;
// TBD
@light-orange: #f3ad45; 
@orange: #f78108;
@egg-shell: #f5e286;

// animations
@keyframes title-slidedown {from {top: -100px; } to { top: 0; }}
@keyframes airplane {from {margin-left: -500px; } to { margin-left: -125px; }}
@keyframes share-rotate {from {transform: rotate(0deg);} to 
{ transform: rotate(3deg); }}
@break: cubic-bezier(.08,.81,.07,.81);

html {
  background: url('@{img-location}/bg-min.png') no-repeat center center fixed @gold;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  overflow-x: hidden;
}

body {
  margin-bottom: 50px;
}

.winner-list {
  text-align: center;
  .list-title {
    img {
      width: 55%;
    }
  }
  .winner-listing {
    margin: 11px auto;
    background-color: @light-orange;
    width: 90%;
    height: 300px;
    border: 2px solid black;
    border-radius: 12px;
    overflow: scroll;
    table {
      width: 100%;
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 16px;
      thead {
        font-size: 20px;
      }
      tbody {
        font-size: 16px;
        color: white;
      }
    }
  }
}

.congrats-form {
  text-align: center;
  .congrats-title {
    margin-top: 11px;
    img {
      width: 80%;
    }
  }
  form {
    text-align: left;
    div {
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 10px;
      background-color: @egg-shell;
      width: 75%;
      border: 2px solid @orange;
      border-radius: 10px;
    }
    label, input, textarea, button {
      margin: 0;
      width: 67%;
      font-size: 20px;
      border: 0;
      outline: none;
      background-color: @egg-shell;
    }
    textarea {
      vertical-align: top;
      resize: none;
    }
    button {
      font-size: 20px;
      width: 81%;
      padding: 15px 0;
      color: white;
      background-color: @orange;
      border-radius: 5px;
      display: block;
      margin: 5px auto;
    }
  }
}

.qrcode {
  text-align: center;
  .qrcode-title {
    margin-top: 17px;
    img {
      width: 90%;
    }
  }
  .qrcode-body {
    position: relative;
    width: 61%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: @light-orange;
    img:first-child {
      position: absolute;
      top: -69px;
      left: 50%;
      margin-left: -125px;
      max-width: 250px;
      animation: 2s @break 0s 1 alternate airplane;
    }
    img {
      max-width: 100%;
    }
  }
  p {
      font-size: 12px;
      font-weight: bold;
    }
}

.black-box {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  // left: -500px;
  display: none;
  top: 0;
  z-index: 162616;
  // transition: all .4s ease-out;
}

.black-box.show {
  display: block;
}

.js-bduck {
  position: absolute;
  z-index: 6261;
  display: none;
}

.bduck-hat {
  top: 12px;
  left: 28.8%;
  width: 19%;
}

.bduck-head {
  top: 47.5px;
  left: 33.25%;
  width: 33%;
}

.bduck-wings {
  top: 117px;
  left: 29.5%;
  width: 40.5%;
}

.bduck-10 {
  top: 122px;
  left: 19%;
  width: 50%;
}

.bduck-th {
  top: 131px;
  left: 67%;
  width: 20%;
}

.share {
  img {
    position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    transform: rotate(0deg);
    animation: .3s linear 0s infinite alternate share-rotate;
  }
}

.lighten-users {
  position: fixed;
  bottom: 5px;
  background-color: @orange;
  height: 35px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 50px;
  left: 600px;
  transition: all ease-out .4s;
  div {
    width: 1000px;
  }
  img {
    max-width: 30px;
    margin-left: 13px;
    border-radius: 15px;
    display: inline;
  }
}

.show-helpers {
  left: 0;
}

.prize-detail {
  .detail {
    background-color: @gold;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 14px;
    width: 71%;
    margin: 0 auto;
    margin-top: 62px;
    padding: 1em 2em;
    line-height: 1.4;
    position: relative;
    img {
      max-width: 100%;
    }
    ul {
      overflow: hidden;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      list-style-type: none;
      li {
        display: inline;
        font-size: 2em;
        &:before {
          content: '\2022';
          color: @egg-shell;
        }
        img {
          display: none;
        }
        img:first-child {
          margin-top: 16px;
        }
      }
      .current-img {
        &:before {
          content: '\2022';
          color: @orange;
        }
      }
    }
    .bucket {
      text-align: center;
      list-style-type: none;
      margin-bottom: 0;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.rules, .prize-detail {
  img.title {
    position: absolute;
    left: 50%;
    top: 22px;
    z-index: 1626;
    margin-left: -97px;
    width: 194px;
  }
  img.quit {
    position: absolute;
    right: -2%;
    top: 46px;
    z-index: 1626;
    width: 47px;
  }
  .clown {
    text-align: right;
    list-style-type: none;
    margin: 0 13px;
    img {
      width: 67px;   
    }
  }
  ol {
    background-color: @gold;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 18px;
    width: 71%;
    margin: 0 auto;
    margin-top: 62px;
    padding-right: 11px;
    line-height: 1.4;
    position: relative;
    li {
      margin-bottom: 17px;
      &:first-child {
        margin-top: 36px;
      }
    }
  }
}

.bigtitle {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-top: 9px;
  img {
    width: 325px;
  }
  // animation: 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0s 1 alternate title-slidedown;
}

.bduck-body {
  position: absolute;
  top: 162px;
  left: 50%;
  margin-left: -139px;
  .bduck {
    width: 278px;
  }
  .bouncing-duck {
    position: absolute;
    left: 50%;
    margin-left: -87px;
    width: 189px;
    top: 3px;
  }
  .bduck-body__progress-prompt {
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -130px;
    padding: 5px 0;
    border-radius: 5px;
    line-height: 2;
    width: 260px;
    color: white;
    background-color: @orange;
    text-align: center;
    font-size: 14px;
  }
  .bduck-body__remain {
    position: absolute;
    bottom: -2px;
    right: -19px;
    img {
      width: 105px;
    }
  }
}

.invitation-btn, .help-or-helped {
  text-align: center;
  margin-top: 443px;
  img {
    width: 315px;
  }
}

.actions {
  text-align: center;
  margin-top: 3px;
  a {
    margin: 0 2px;
  }
  img {
    height: 53px;
  }
}

