include source/jade/includes/head.jade
//{template v2/views/public/global_header}

section.login-panel

  include source/jade/includes/side-panel.jade

  article.form-container
    .hand-logo.below-tablet
      i.icon.icon-hand

    .switch-header
      .switch-container
        .form-header
          label.form-title
            span 重置密码

    .form-wrap
      form#form-reset
        ul(style='display: none;')
          li.input-row
            i.icon.icon-sml.icon-lock
            input.inpset.input-password(type='password', value='', placeholder='6-12位新密码', maxlength='20', autocomplete='off')
            a.icon.icon-sml.icon-unseen(data-id='pass-ind', title='显示/隐藏密码')
          li.input-row
            i.icon.icon-sml.icon-lock
            input.inpset.input-password-again(type='password', value='', placeholder='确认新密码',maxlength='20', autocomplete='off')
            a.icon.icon-sml.icon-unseen(data-id='pass-ind', title='显示/隐藏密码')
        .form-actions(style='display: none;')
          .form-options
          button#submitReset.button.large.disabled.full-width(type="button") 提    交
        .after-submit(style='display: none;')
          p 重置密码邮件已过期。

    .form-error
      i.icon.icon-sml.icon-warning
      label

script.
  var uid = "{$uid}";
  var used = "{$status}"; //0:无效不显示表单，1:显示表单
  var hash = "{$hash}";

include source/jade/includes/pick-interest.jade
include source/jade/includes/hidden-ele.jade
//{template v2/views/public/global_footer}