include source/jade/includes/texts
include source/jade/includes/head

<body>
#catalog
  section.intro
    h3 #{text_12}
    .actions
      a.help-him #{text_13}
      a.wanna-play #{text_14}

include source/jade/includes/foot