include source/jade/includes/texts
include source/jade/includes/head

<body style="background:#1b1f21">
#catalog

  include source/jade/includes/catalog__intro
  include source/jade/includes/catalog__draw
  include source/jade/includes/catalog__actions
  include source/jade/includes/catalog__form
  include source/jade/includes/catalog__logos
  include source/jade/includes/catalog__popup
  include source/jade/includes/catalog__instruction


include source/jade/includes/foot