@import "../../../public_inc/source/less/imports";

@item-nav-width: 95px;
@item-b_image-button-wh : 40px;
@margin-lr: 60px;
@list-filter-height: 25px;
@item-content-padding: 12px;
@item-owner-img-wh: 26px;
@l-image-h: 371px;

//分类以及筛选部分
.item-list-filter {
  ._clearfix;
  position: relative;
  //height: @list-filter-height;
  margin: 30px auto 0 ;
  //padding: 0 15px;

  ._1626-breakpoints("others");
  .item-nav-container {
    float: left;
    margin-left: -20px;
    ._clearfix;
    .item-nav {
      padding: 0 20px;
      float: left;
      border-right: 1px solid @grey;
      line-height: 16px;
      &:nth-last-child(1) {
        border-right: none;
      }
      a {
        font-size: @font-size-s;
        cursor: pointer;
      }
      &.current {
        font-weight: bold;
        a {
          border-bottom:2px solid @blue;
        }
      }
      span {
        font-size: @font-size-xs;
        background-color: @blue;
        color: @white;
        padding: 0 6px;
        border-radius: 14px;
        //margin-left: 5px;
        position: relative;
        top: -1px;
        left: 5px;
      }
    }

  }
  .item-filter-container {
    float: right;
    line-height: 13px;
    margin-right: -10px;
    margin-top: 3px;
  }

  .item-filter {
    float: left;
    border-left: solid 1px @grey;
    &:nth-child(1){
      border:none;
    }
    a {
      margin: 0 10px 0 0;
      color: @grey;
      cursor: pointer;
      &.current {
        i {
          color: @blue;
        }
        span {
          color: black;
        }
      }
      i {
        font-size: @font-size-m;
        margin-right: 5px;
      }
      span {
        font-size: @font-size-xs;
      }
      &:hover {
        i,span {
          color: @dark-grey;
        }
      }
    }
    &.mode {
      padding-left: 10px;
      i {
        margin-right: 0;
      }
    }
  }
}

//列表部分
.item-list-container {
  padding: 0 @big-goods__margin;
  //clear: both;
  margin: auto;
  ._1626-breakpoints("big-goods");

  //====================================大图列表 Start==================================================
  dl.big_img {
    display: none;
    margin-bottom: 40px;
    ._clearfix;

    dd.item {
      float: left;
      background-color: @white;
      margin: 20px 15px 10px 15px;
      //border-bottom: 2px solid @white;
      width: @big-goods__width;
      height: 425px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .3);
      transition: all 0.2s ease-out;
      position: relative;
      //cursor: pointer;

      &.longer{
        height: 470px;
      }

      .item-b_image {
        height: @big-goods__width;
        overflow: hidden;
        position: relative;
        text-align: center;
        a {
          display: block;
          height: 100%;
        }
        img {
          width: @big-goods__width;
        }
        .actions {
          display: none;
          position: absolute;
          top: @item-content-padding;
          right: @item-content-padding;
          span {
            padding: 7px 12px 9px;
            display: inline-block;
            background: white;
            border: 2px solid @light-grey;
            position: relative;
            margin-left: -2px;
            //border-right: none;
            cursor: pointer;
            &:nth-child(1){
              border-radius: 20px 0 0 20px;
            }
            &:nth-last-child(1){
              border-radius: 0 20px 20px 0;
            }
            &:hover {
              z-index: 9999;
              background: @blue;
              border-color: @blue;
              .icon {
                color: @white;
              }
            }
          }
          .icon {
            font-size:@font-size-xl;
            color: @dark-grey;
          }
        }
      }
      .item-b_description {
        padding: @item-content-padding;
        .item-b_isnew {
          height: 22px;
          margin-bottom: 15px;

          a {
            color: @black;
            border-bottom: 2px solid @grey;
            &:hover {
              border-bottom: 2px solid @blue;
            }
          }
          span {
            color: @dark-grey;

            font-size: @font-size-xs;
          }
          .item_tag {
            color: @white;
            background-color: @black;
            padding: 0 5px;
            border-radius: 10px;
            font-size: @font-size-xxs;
            margin-right: 3px;
            position: relative;
            top: -1px;
          }
        }
        .item-b_title {
          height: @font-size-m*3-3;
          overflow: hidden;
        }
        span {
          font-size: @font-size-s;
          color: black;
        }
        .item-b_price {
          margin-top: 4px;
          span {
            font-size: @font-size-s;
            font-weight: bold;
            color: @dark-grey;
          }
          &.longer{
            margin-top: 8px;
          }
        }
      }
      .item-b_additional {
        padding: @item-content-padding;
        height: 26px;
        position: absolute;
        bottom: 0;
        background-color: @light-grey;
        border-bottom: 3px solid @light-grey;
        transition: all 0.2s ease-out;
        width: (@big-goods__width - 90);
        img {
          width: @item-owner-img-wh;
          height: @item-owner-img-wh;
          border-radius: 50%;
          float: left;
          margin-right: 10px;
        }
        .item-value {
          float: left;
          margin-top: 5px;

          span {
            color: @dark-grey;
            font-size: @font-size-xs;
            margin-right: 3px;
          }
          .icon {
            margin-left: 10px;
          }
          i {
            margin-left: 10px;
          }
        }
      }
      .item-b_add_like {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: (@item-content-padding * 2) + @item-owner-img-wh + 3;
        background-color: @white;
        text-align: center;
        cursor: pointer;

        img.harting{
          position: absolute;
          width: 39px;
          top: -1px;
          left: 25px;
          z-index: 999;
          display: none;
        }
        .icon {
          color: @dark-grey;
          transition: all 0.2s ease-out;
          position: absolute;
          top: 9px;
          left: 35px;
          font-size: @font-size-xl;
          &.icon-hearted {
            color: @red;
          }
        }
        .like_count {
          color: @dark-grey;
          transition: all 0.2s ease-out;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 30px;
          left: 0;
          font-size: @font-size-xs;
        }
        &:hover * {
          color: @red;
        }
      }
      //搭配部分
      .item-l_image {
        height: @l-image-h;
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
          width: 100%;
          /* vertical-align: middle; */
          //top: 0;
          //bottom: 0;
          //position: absolute;
          //left: 0;
          //right: 0;
          margin: auto;
        }

        dl.collocation {
          position: absolute;
          bottom: 12px;
          left: 12px;
        }
        dd.collocation_item {
          float: left;
          margin-left: 7px;
          width: 56px;
          height: 56px;
          img {
            border: 0;
            width: 56px;
            height: 56px;
          }
        }
      }

      &:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, .7);
        .item-b_image .actions {
          display: block;
        }
        .item-b_additional {
          //box-shadow: 0 1px 5px @dark-grey;
          border-bottom-color: @blue;
        }
      }
    }

    //关于发布那一块
    .publish_entrance{
      text-align: center;
      display: box;
      box-orient: horizontal;
      box-pack: center;
      box-align: center;
      cursor: pointer;
      i{
        color:@blue;
        font-size: 70px;
      }
      span{
        padding:10px;
      }
    }
  }
  //====================================大图列表 End====================================================

  //====================================小图列表 Start==================================================
  dl.small_img {
    ._clearfix;
    display: none;
    margin-bottom: 40px;
    dd.item {
      float: left;
      background-color: @white;
      //margin: 20px 10px 10px 10px;
      //border-bottom: 2px solid @white;
      width: @small-goods__width;
      height: @small-goods__width;
      transition: all 0.2s ease-out;
      position: relative;
      ._1626-breakpoints("small-goods-margin");

    }
    .item-s_image {
      overflow: hidden;
      position: relative;
      height: @small-goods__width;
      img {
        width: @small-goods__width;
      }
    }
    .item-s_description {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      //display: none;
      opacity: 0;
      transition: all 0.2s;
      .item-s_action {
        position: absolute;
        right:0;
        top:0;
        div.action-add_special{
          position: absolute;
          top:8px;
          right:40px;
          color: @white;
          font-size: @font-size-l;
          margin-left: 8px;
          transition: all 0.2s;
          cursor: pointer;
        }
        div.action-add_like {
          position: absolute;
          top:8px;
          right:12px;
          color: @white;
          font-size: @font-size-l;
          margin-left: 8px;
          transition: all 0.2s;
          cursor: pointer;
          img{
            position: absolute;
            width: 33px;
            right: -7px;
            top: -3px;
            z-index: 999;
            display: none;
          }
          i{
            transition: all 0.2s;
            color: @white;
            z-index: 99999;
            &.icon-hearted {
              color: @red;
            }
          }
          &:hover i{
            color: @red;
          }
        }
      }
      .item-s_owner {
        float: left;
        margin: @item-content-padding;
        img {
          width: 20px;
          border-radius: 20px;
        }
      }
      .item-s_isnew {
        float: left;
        width: @small-goods__width - (@item-content-padding*2);
        margin: 0 @item-content-padding @item-content-padding;
        color: @grey;
        height:20px;
        overflow: hidden;
        a {
          color: @white;
          font-size: @font-size-xs;
        }
        span {
          color: @grey;
          font-size: @font-size-xs;
          margin-right: 3px;
        }
      }
      .item-s_title {
        width: @small-goods__width - (@item-content-padding*2);
        margin-top: @item-content-padding/2;
        float: left;
        height: @font-size-s*2+2;
        line-height: @font-size-s;
        overflow: hidden;
        padding: 0 @item-content-padding;
        a {
          color: @white;
        }
        span {
          font-size: @font-size-s;
          color: @white;
        }
      }
      .item-s_price {
        width: @small-goods__width - (@item-content-padding*2);
        margin: @item-content-padding/2 @item-content-padding;
        float: left;
        span {
          font-size: @font-size-l;
          font-weight: bold;
          color: @white;
        }
      }
      .item-s_additional {
        position: absolute;
        bottom: @item-content-padding;
        left: @item-content-padding;
        span {
          color: @grey;
          font-size: @font-size-xs;
          margin-right: 2px;
        }
        .count {
          margin-right: 8px;
        }
      }
    }
    dd:hover .item-s_description {
      opacity: 1;
    }
    dl.collocation {
      position: absolute;
      bottom: 40px;
      //left: 12px;
    }
    dd.collocation_item {
      float: left;
      margin-left: 11px;
      .goods_item {
        width: 32px;
        height: 32px;
        overflow: hidden;
        img {
          border: 0;
          width: 32px;
          height: 32px;
        }
      }
    }

    //关于发布那一块
    .publish_entrance{
      text-align: center;
      display: box;
      box-orient: horizontal;
      box-pack: center;
      box-align: center;
      cursor: pointer;
      border: 1px solid @blue;
      i{
        color:@blue;
        font-size: 40px;
        font-weight: lighter;
      }
      span,br{
        display: none;
      }
    }
  }
}
//====================================小图列表 End====================================================

//====================================列表为吉 Start==================================================
  .list-empty{
    margin: 40px auto 50px;
    background-color: @light-grey;
    height: 60px;
    position: relative;
    padding: 50px;
    display:none;

    .empty-content{
      //width:630px;
      margin: auto;
      display: table;
      .empty-icon{
        float: left;
        margin-right: 20px;
        span{
          font-size: 60px;
          line-height: 60px;
        }
      }
      .empty-message{
        float: left;
        font-size: @font-size-m;
        margin-right: 40px;
        padding-top: 8px;
        span{
          font-weight: bold;
        }
      }
      .empty-action{
        float: left;
        cursor: pointer;
        a{
          line-height: 60px;
          border: 2px solid @blue;
          background-color: @white;
          transition: all 0.2s;
          color:@black;
          padding: 8px 20px;
          border-radius: 60px;
          i{
            position: relative;
            top:-2px;
            margin-right: 5px;
            //color:@blue;
          }
          &:hover{
            background-color: @blue;
            color:@white;
            //i{
            //  color:@white;
            //}
          }
        }
      }

      div.action{
        height: 30px;
        line-height: 28px;
        width: 100px;
        margin: 0 auto;
        border: solid 1px @dark-grey;
        border-radius: 15px;
        //padding: 0 5px;
        background-color: @white;
        color:@black;

        font-size: @font-size-s;
        text-align: left;
        position: relative;

        .icon{
          font-size: 25px;
          transition: all 0.1s ease-out;
          position: absolute;
        }

        label{
          position: absolute;
          cursor: pointer;
        }

        label.sl2{
          display: none;
        }

        &.follow_ed:hover{
          label.sl1{
            display: none;
          }
          label.sl2{
            display: block;
          }
        }
      }

      div.action.follow_empty{
        position: relative;
        top: 14px;
        .icon{
          top:3px;
          left: 3px;
        }
        label{
          top:1px;
          left: 33px;
        }
        &:hover{
          .icon{
            font-size: 28px;
            top:1px;
            left: 1px;
          }
        }
      }

      div.action.follow_ed{
        .icon{
          top:3px;
          right: 3px;
        }
        label{
          top:1px;
          right: 33px;
          text-align: right;
        }
        &:hover{
          .icon{
            font-size: 28px;
            top:1px;
            right: 1px;
          }
        }
      }
    }
  }

  .empty_recommand_title{
    display: none;
  }

  .empty_recommand{
    display: none;
  }

//====================================列表为吉 End====================================================
//====================================加载中 Start==================================================
  .list-loading {
    margin: 40px auto 50px;
    background-color: @light-grey;
    height: 60px;
    position: relative;
    padding: 50px;
    display: none;
    .loading-message{
      margin: auto;
      display: table;
      i{
        font-size: 40px;
        line-height: 50px;
      }
      span{
        font-size: @font-size-m;
        margin-left: 20px;
        font-weight: bold;
        position: relative;
        top:5px;
      }
    }
  }


//====================================加载中 End====================================================

.item-pagiation{
  //float: left;
  width:100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
  //display: none;
  clear: both;
  .show-more{
    margin: 0 auto;
    color: @grey;
    height:60px;
    width: @big-goods__width*2+30;
    border-radius: 30px;
    line-height: 60px;
    font-size: @font-size-m;
    cursor: pointer;
    box-shadow: 0 1px 3px @grey;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 1px 5px @dark-grey;
    }
  }
}

