@import "../../../public_inc/source/less/imports";
@item-nav-width: 95px;
@item-b_image-button-wh : 40px;
@margin-lr: 60px;
@list-filter-height: 25px;
@item-content-padding: 12px;
@item-owner-img-wh: 26px;

@b-image-wh: 280px;
@l-image-h: 373px;
@s-image-wh: 185px;

//分类以及筛选部分
.item-list-filter {
  margin: 40px @margin-lr+15 0;
  position: relative;
  height: @list-filter-height;

}

.item-list-filter .item-nav-container {
  column-count: 4;
  column-gap: 20px;
  column-rule: 1px outset @dark-grey;
  column-fill: auto;
  //column-width:@item-nav-width;
  width: @item-nav-width*4;
  margin-left: -10px;
  float: left;
}

.item-list-filter .item-nav-container .item-nav {
  width: @item-nav-width;
  margin-left: 10px;
  //text-align: center;
  position: relative;
}

.item-list-filter .item-nav-container .item-nav.current {
  font-weight: bold;
}

.item-list-filter .item-nav-container .item-nav .count {
  font-size: @font-size-xs;
  background-color: @blue;
  color: @white;
  padding: 1px 6px;
  border-radius: 8px;
  //margin-left: 5px;
  position: relative;
  top: -2px;
  left: 5px;
}

.item-list-filter .item-filter-container {
  float: right;
  height: @list-filter-height;
}

.item-list-filter .item-filter {
  float: left;
  border-left: solid 1px @dark-grey;
}

.item-list-filter .item-filter.first {
  border: 0;
}

.item-list-filter .item-filter a {
  margin: 0 5px;
  color: @grey;
  cursor: pointer;
}

.item-list-filter .item-filter a.current {
  color: @blue;
}

//列表部分
.item-list-container{
  padding: 0 60px;
}

  //====================================大图列表 Start==================================================
.item-list-container dl.big_img {
  margin: 0 auto;
  width:100%;
  max-width: @b-image-wh*4+90+30;
  //columns: @b-image-wh 4;
  display: none;
}

.item-list-container dl.big_img dd.item {
  float: left;
  margin: 20px 15px 10px 15px;
  //border-bottom: 2px solid @white;
  width: @b-image-wh;
  min-height: 435px;
  box-shadow: 0 1px 3px @grey;
  transition: all 0.2s ease-out;
  position: relative;
}

.item-list-container dl.big_img dd.item:hover {
  box-shadow: 0 1px 5px @dark-grey;
  //border-bottom: 2px solid @blue;
}

.item-list-container dl.big_img .item-b_image {
  height: @b-image-wh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

//.item-list-container dl.big_img .item-b_image .item-add_special {
//  position: absolute;
//  left: 12px;
//  bottom: 12px;
//  background-color: @white;
//  width: @item-b_image-button-wh;
//  height: @item-b_image-button-wh;
//  border-radius: @item-b_image-button-wh/2;
//  line-height: 38px;
//  cursor: pointer;
//  transition: width 0.2s ease-out;
//  padding: 0;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_special span {
//  color: @black;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_special .icon-album{
//  margin: 0 11px;
//  font-size: @font-size-l;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_special .addtext{
//  font-size: @font-size-m;
//  position:relative;
//  left:0;
//  top: 2px;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_special:hover {
//  background-color: @blue;
//  width: @item-b_image-button-wh*3;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_special:hover span {
//  color: @white;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_like {
//  position: absolute;
//  right: 12px;
//  bottom: 12px;
//  background-color: @white;
//  width: @item-b_image-button-wh;
//  height: @item-b_image-button-wh;
//  border-radius: @item-b_image-button-wh/2;
//  cursor: pointer;
//  text-align: center;
//  line-height: @item-b_image-button-wh;
//  font-size: @font-size-l;
//  color: @red;
//}
//
//.item-list-container dl.big_img .item-b_image .item-add_like:hover {
//  background-color: @blue;
//}

.item-list-container dl.big_img .item-b_description {
  padding: @item-content-padding;
}

.item-list-container dl.big_img .item-b_description .item-b_isnew a {
  color: @black;
}

.item-list-container dl.big_img .item-b_description .item-b_isnew span {
  color: @grey;
  font-size: @font-size-xs;
}

.item-list-container dl.big_img .item-b_description .item-b_isnew .item_tag {
  color: @white;
  background-color: @black;
  padding: 0 5px;
  border-radius: 10px;
  font-size: @font-size-xxs;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.item-list-container dl.big_img .item-b_description .item-b_title {
  margin-top: 8px;
  height: @font-size-m*3-3;
  overflow: hidden;
}

.item-list-container dl.big_img .item-b_description .item-b_title span {
  font-size: @font-size-m;
}

.item-list-container dl.big_img .item-b_description .item-b_price {
  margin-top: 16px;
}

.item-list-container dl.big_img .item-b_description .item-b_price span {
  font-size: @font-size-m;
  font-weight: bold;
  color: @grey;
}

.item-list-container dl.big_img .item-b_additional {
  padding: @item-content-padding;
  height: 26px;
  position: relative;
  background-color: @light-grey;
  border-bottom: 3px solid @light-grey;
  transition: all 0.2s ease-out;
}

.item-list-container dl.big_img dd:hover .item-b_additional {
  //box-shadow: 0 1px 5px @dark-grey;
  border-bottom-color: @blue;
}

.item-list-container dl.big_img .item-b_additional img {
  width: @item-owner-img-wh;
  height: @item-owner-img-wh;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.item-list-container dl.big_img .item-b_additional .item-value {
  //position: absolute;
  //right: 0;
  //bottom: 2px;
  float: left;
}

.item-list-container dl.big_img .item-b_additional .item-value span {
  color: @grey;
  font-size: @font-size-xs;
  margin-right: 3px;
}

.item-list-container dl.big_img .item-b_additional .item-value .icon {
  margin-left: 10px;
}

.item-list-container dl.big_img .item-b_additional .item-value i {
  margin-left: 10px;
}

.item-b_add_like {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90px;
  height: (@item-content-padding * 2) + @item-owner-img-wh + 3;
  background-color: @white;
  text-align: center;
  cursor: pointer;
}

.item-b_add_like a {
  //margin-top: 5px;
}

.item-b_add_like span {
  color: @grey;
  transition: all 0.2s ease-out;
}

.item-b_add_like .icon {
  font-size: @font-size-l;
  font-weight: bold;
}

.item-b_add_like .like_count {
  font-size: @font-size-xs;
}

.item-b_add_like:hover span {
  color: @red;
}

//搭配部分
.item-list-container dl.big_img .item-l_image {
  height: @l-image-h;
  overflow: hidden;
  position: relative;
  text-align: center;
  position: relative;
}

.item-list-container dl.big_img .item-l_image dl.collocation {
  position: absolute;
  bottom: 12px;
  left: 12px;

}

.item-list-container dl.big_img .item-l_image dd.collocation_item {
  float: left;
  margin-right: 10px;
}

.item-list-container dl.big_img .item-l_image dd.collocation_item img {
  border: 0;
}

//====================================大图列表 End====================================================

//====================================小图列表 Start==================================================
.item-list-container dl.small_img {
  margin: 0 @margin-lr;
  float: left;
  display: none;
}

.item-list-container dl.small_img dd {
  float: left;
  margin: 20px 5px 10px 15px;
  //border-bottom: 2px solid @white;
  width: @s-image-wh;
  height: @s-image-wh;
  transition: all 0.2s ease-out;
  position: relative;
}

.item-list-container dl.small_img .item-s_image {
  overflow: hidden;
  position: relative;
  height: @s-image-wh;
}

.item-list-container dl.small_img .item-s_description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  //display: none;
  opacity: 0;
  transition: all 0.2s;
}

.item-list-container dl.small_img dd:hover .item-s_description {
  //background-color: rgba(0,0,0,0.7);
  opacity: 1;
  //display: block;
}

.item-list-container dl.small_img .item-s_description .item-s_owner {
  float: left;
  margin: @item-content-padding;
}

.item-list-container dl.small_img .item-s_description .item-s_owner img {
  width: 20px;
  border-radius: 20px;
}

.item-list-container dl.small_img .item-s_description .item-s_action {
  float: right;
  margin: (@item-content-padding - 4) @item-content-padding;
}

.item-list-container dl.small_img .item-s_description .item-s_action a {
  color: @white;
  font-size: @font-size-l;
  margin-left: 8px;
  transition: all 0.2s;
}

.item-list-container dl.small_img .item-s_description .item-s_action a.action-add_like:hover {
  color: @red;
}

.item-list-container dl.small_img .item-s_description .item-s_isnew {
  float: left;
  width: @s-image-wh - (@item-content-padding*2);
  margin: 0 @item-content-padding;
  color: @grey;
}

.item-list-container dl.small_img .item-s_description .item-s_isnew a{
  color: @white;
  font-size: @font-size-xs;
}

.item-list-container dl.small_img .item-s_description .item-s_isnew span {
  color: @grey;
  font-size: @font-size-xs;
  margin-right: 3px;
}

.item-list-container dl.small_img .item-s_description .item-s_title {
  width: @s-image-wh - (@item-content-padding*2);
  margin-top: @item-content-padding/2;
  float: left;
  height: @font-size-s*3+4;
  line-height: @font-size-s;
  overflow: hidden;
  padding: 0 @item-content-padding;
}

.item-list-container dl.small_img .item-s_description .item-s_title a{
  color: @white;
}

.item-list-container dl.small_img .item-s_description .item-s_title span {
  font-size: @font-size-s;
  color: @white;
}

.item-list-container dl.small_img .item-s_description .item-s_price {
  width: @s-image-wh - (@item-content-padding*2);
  margin: @item-content-padding/2 @item-content-padding;
  float: left;
}

.item-list-container dl.small_img .item-s_description .item-s_price span {
  font-size: @font-size-l;
  font-weight: bold;
  color: @white;
}

.item-list-container dl.small_img .item-s_description .item-s_additional {
  position: absolute;
  bottom: @item-content-padding;
  left: @item-content-padding;
}

.item-list-container dl.small_img .item-s_description .item-s_additional span {
  color: @grey;
  font-size: @font-size-xs;
  margin-right: 2px;
}

.item-list-container dl.small_img .item-s_description .item-s_additional .count {
  margin-right: 8px;
}

//====================================小图列表 End====================================================

//====================================列表为吉 Start==================================================
.list-empty{
  margin: 40px 60px 50px;
  background-color: @light-grey;
  height: 60px;
  position: relative;
  padding: 50px;
  display:none;
}

.list-empty .empty-content{
  width:450px;
  margin: 0 auto;
}

.list-empty .empty-content .empty-icon{
  float: left;
  margin-right: 20px;
}

.list-empty .empty-content .empty-icon span{
  font-size: 60px;
  line-height: 60px;
}

.list-empty .empty-content .empty-message{
  float: left;
  font-size: @font-size-m;
  margin-right: 40px;
  padding-top: 8px;
}

.list-empty .empty-content .empty-message span{
  font-weight: bold;
}

.list-empty .empty-content .empty-action{
  float: left;
}

.list-empty .empty-content .empty-action a{
  line-height: 60px;
  border: 2px solid @blue;
  background-color: @white;
  transition: all 0.2s;
  color:@black;
  padding: 8px 20px;
  border-radius: 60px;
}

.list-empty .empty-content .empty-action a:hover{
  background-color: @blue;
  color:@white;
}
//====================================列表为吉 End====================================================

.item-pagiation{
  float: left;
  width:100%;
  text-align: center;
  margin: 40px auto;
  //display: none;
}

.item-pagiation .show-more{
  margin: 0 auto;
  color: @grey;
  height:60px;
  width: @b-image-wh*2+30;
  border-radius: 30px;
  line-height: 60px;
  font-size: @font-size-m;
  cursor: pointer;
  box-shadow: 0 1px 3px @grey;
  transition: all 0.2s ease-out;
}

.item-pagiation .show-more:hover {
  box-shadow: 0 1px 5px @dark-grey;
}

.list-loading{
  margin: 40px 60px 50px;
  background-color: @light-grey;
  height: 60px;
  position: relative;
  padding: 50px;
}