@import "../../../public_inc/source/less/imports";

@item-nav-width: 95px;
@item-b_image-button-wh : 40px;
@margin-lr: 60px;
@list-filter-height: 25px;
@item-content-padding: 12px;
@item-owner-img-wh: 26px;
@l-image-h: 371px;

//分类以及筛选部分
.item-list-filter {
  ._clearfix;
  position: relative;
  ._1626-breakpoints("others");
  @media @pc {
    margin: 30px auto 0 ;
  }
  @media @mobile {
    margin: 20px;
  }
  .item-nav-container {
    float: left;
    margin-left: -20px;
    ._clearfix;
    .item-nav {
      padding: 0 20px;
      float: left;
      border-right: 1px solid @grey;
      line-height: 16px;
      &:nth-last-child(1) {
        border-right: none;
      }
      a {

        cursor: pointer;
        @media @pc {
          font-size: @font-size-s;
        }
        @media @mobile {
          font-size: @font-size-m;
        }
      }
      &.current {
        font-weight: bold;
        a {
          border-bottom:2px solid @blue;
        }
      }
      span {

        background-color: @blue;
        color: @white;
        padding: 0 6px;
        border-radius: 14px;
        //margin-left: 5px;
        position: relative;
        top: -1px;
        left: 5px;
        @media @pc {
          font-size: @font-size-xs;
        }
        @media @mobile {
          font-size: @font-size-s;
        }
      }
    }

  }
  .item-filter-container {
    float: right;
    line-height: 13px;
    margin-right: -10px;
    margin-top: 3px;
    @media @mobile {
      display: none;
    }
    .mode {
      i {
        margin-right: 0;
      }
    }
    .sort {
      //border-left: none;
    }
    .search {
      margin: -4px 10px 0 0;
      div.search_form {
        border-bottom: 2px dotted @dark-grey;
        .icon {
          font-size: @font-size-m;
          color: @dark-grey;
        }
        .icon-closepop{
          opacity: 0;
          transition: opacity 0.3s,color 0.3s;
          &:hover{
            color:@red;
          }
          &.show{
            opacity: 1;
            cursor: pointer;
          }
        }
        input {
          border: none;
          font-size: @font-size-xs;
          width: 100px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .item-filter {
      float: left;
      border-left: solid 1px @grey;
      padding-left: 10px;
      &:nth-child(1){
        border:none;
      }
      @media @mobile {
        display: none;
      }
      a {
        margin: 0 10px 0 0;
        color: @grey;
        cursor: pointer;
        i {
          font-size: @font-size-m;
          margin-right: 5px;
          transition: all 0.3s;
        }
        span {
          font-size: @font-size-xs;
          transition: all 0.3s;
        }
        &:hover {
          i,span {
            color: @dark-grey;
          }
        }
        &.current {
          i {
            color: @blue;
          }
          span {
            color: @black;
          }
          &:hover{
            i {
              color: @blue;
            }
            span {
              color: @black;
            }
          }
        }
      }

    }
  }
  .item-search-result{
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
    @media @mobile {
      display: none;
    }
    span{
      font-size: @font-size-s;
      color:@dark-grey;
    }
    &.show{
      margin-top:30px;
      border-top: solid 1px @light-grey;
      height:22px;
    }
    &.show_follow{
      position: relative;
      top: -22px;
      margin-bottom: -22px;
      height:22px;
      width:50%;
    }
  }


}

//列表部分
.item-list-container {
  //clear: both;
  @media @pc {
    padding: 0 @big-goods__margin;
  }
  @media @mobile {
    padding: 0;
  }
  margin: auto;
  ._1626-breakpoints("big-goods");

  //====================================大图列表 Start==================================================
  dl.big_img {
    display: none;
    @media @pc {
      margin-bottom: 40px;
    }
    @media @mobile {
      margin-bottom: 20px;
    }
    ._clearfix;
    dd.item {
      float: left;
      background-color: @white;
      box-shadow: 0 0 5px rgba(0, 0, 0, .3);
      transition: all 0.2s ease-out;
      position: relative;
      @media @pc {
        width: @big-goods__width;
        margin: 20px 15px 10px 15px;
        height: 425px;
        &.longer{
          height: 456px;
        }
        &:hover {
          box-shadow: 0 1px 8px rgba(0, 0, 0, .7);
          .item-b_image .actions {
            //display: block;
            opacity:1;
          }
          .item-b_additional {
            border-bottom-color: @blue;
          }
        }
      }
      @media @mobile {
        width:100%;
        margin: 0 0 30px 0;
        overflow: hidden;
        &.longer{
          .item-b_description{
            height:130px;
          }
        }
      }
      .item-b_image {
        @media @pc {
          height: @big-goods__width;
        }
        @media @mobile {
          height: 100%;
        }
        overflow: hidden;
        position: relative;
        text-align: center;
        a {
          display: block;
          height: 100%;
        }
        img {
          width: 100%;
        }
        .actions {
          //display: none;
          opacity: 0;
          position: absolute;
          top: @item-content-padding;
          right: @item-content-padding;
          transition: all 0.2s ease-out;
          span {
            padding: 7px 12px 9px;
            display: inline-block;
            background: white;
            border: 2px solid @light-grey;
            position: relative;
            margin-left: -2px;
            transition: all 0.2s ease-out;
            //border-right: none;
            cursor: pointer;
            &:nth-child(1){
              border-radius: 20px 0 0 20px;
              transition: all 0.2s ease-out;
            }
            &:nth-last-child(1){
              border-radius: 0 20px 20px 0;
              transition: all 0.2s ease-out;
            }
            &:hover {
              z-index: 9999;
              background: @blue;
              border-color: @blue;
              .icon {
                color: @white;
              }
            }
          }
          .icon {
            font-size:@font-size-xl;
            color: @dark-grey;
          }
        }
      }
      .item-b_description {
        position: relative;
        padding: @item-content-padding;
        @media @mobile {
          height: 100px;
        }
        .item-b_isnew {
          height: 22px;
          margin-bottom: 4px;

          a {
            color: @black;
            border-bottom: 2px solid @grey;
            &:hover {
              border-bottom: 2px solid @blue;
            }
          }
          span {
            color: @dark-grey;

            font-size: @font-size-xs;
          }
          .item_tag {
            color: @white;
            background-color: @black;
            padding: 0 5px;
            border-radius: 10px;
            font-size: @font-size-xxs;
            margin-right: 3px;
            position: relative;
            top: -1px;
          }
        }
        .item-b_title {
          height: 42px;
          overflow: hidden;
          word-break:break-all;
          display:-webkit-box;
          -webkit-line-clamp:2;
          -webkit-box-orient:vertical;
          @media @mobile {
            width: 70%;
          }
          a {
            color: @black;
            font-size: @font-size-s;
          }
        }
        span {
        }
        .item-b_price {
          @media @pc {
            margin-top: 4px;
            &.longer{
              margin-top: 8px;
            }
          }
          @media @mobile {
            width: 30%;
            text-align: center;
            position: absolute;
            right:0;
            bottom:80px;
            &.longer{
              margin-top: 8px;
              bottom:90px;
            }
          }
          span {
            font-weight: bold;
            @media @pc {
              font-size: @font-size-s;
              color: @dark-grey;
            }
            @media @mobile {
              font-size: 20px;
              color: @black;
            }
          }

        }
      }
      .item-b_additional {
        position: absolute;
        bottom: 0;
        background-color: @light-grey;
        border-bottom: 3px solid @light-grey;
        transition: all 0.2s ease-out;
        width:100%;
        @media @pc {
          height: 50px;
        }
        @media @mobile {
          height: 60px;
        }
        img {
          width: @item-owner-img-wh;
          height: @item-owner-img-wh;
          border-radius: 50%;
          float: left;
          margin: 12px 10px 12px 12px;
          @media @pc {
            width: @item-owner-img-wh;
            height: @item-owner-img-wh;
          }
          @media @mobile {
            width: @item-owner-img-wh + 10;
            height: @item-owner-img-wh + 10;
          }
        }
        .item-value {
          float: left;
          margin-top: 1px;
          @media @pc {
            line-height: 50px;
            span {
              color: @dark-grey;
              font-size: @font-size-s;
              margin-right: 3px;
            }
            .icon {
              margin-left: 10px;
            }
            i {
              margin-left: 10px;
            }
          }
          @media @mobile {
            line-height: 60px;
            span {
              color: @dark-grey;
              font-size: @font-size-m;
              margin-right: 5px;
            }
            .icon {
              margin-left: 13px;
            }
            i {
              margin-left: 13px;
            }
          }
        }
      }
      .item-b_add_like {
        position: absolute;
        right: 0;
        bottom: 0;

        background-color: @white;
        text-align: center;
        cursor: pointer;
        @media @pc {
          width: 90px;
          height: (@item-content-padding * 2) + @item-owner-img-wh + 3;
        }
        @media @mobile {
          width: 120px;
          height: (@item-content-padding * 2) + @item-owner-img-wh + 13;
        }
        img.harting{
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 999;
          display: none;
          @media @pc {
            width: 39px;
            top: -1px;
            left: -1px;
          }
          @media @mobile {
            width: 45px;
            top: 3px;
            left: -1px;
          }
        }
        .icon {
          color: @dark-grey;
          transition: all 0.2s ease-out;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          &.icon-hearted {
            color: @red;
          }
          @media @pc {
            top: 9px;
            font-size: @font-size-xl;
          }
          @media @mobile {
            top: 15px;
            font-size: 24px;
          }
        }
        .like_count {
          color: @dark-grey;
          transition: all 0.2s ease-out;
          position: absolute;
          width: 100%;
          text-align: center;
          left: 0;
          @media @pc {
            top: 30px;
            font-size: @font-size-xs;
          }
          @media @mobile {
            top: 40px;
            font-size: @font-size-s;
          }
        }
        &:hover {
          .icon {
            color: @red;
          }
          span {
            color: black;
          }
        }
      }
      //搭配部分
      .item-l_image {
        height: @l-image-h;
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
          width: 100%;
          /* vertical-align: middle; */
          //top: 0;
          //bottom: 0;
          //position: absolute;
          //left: 0;
          //right: 0;
          margin: auto;
        }

        dl.collocation {
          position: absolute;
          bottom: 12px;
          left: 12px;
        }
        dd.collocation_item {
          float: left;
          margin-left: 7px;
          width: 56px;
          height: 56px;
          img {
            border: 0;
            width: 56px;
            height: 56px;
          }
        }
      }
    }

    //关于发布那一块
    .publish_entrance{
      text-align: center;
      //display: box;
      //box-orient: horizontal;
      //box-pack: center;
      //box-align: center;
      cursor: pointer;
      @media @mobile {
        display:none;
      }
      div{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin: auto;
        width:auto;
        height:100px;
        i{
          color:@blue;
          font-size: 70px;
        }
        br{
          display:none;
        }
        span{
          padding:10px;
        }
      }

    }
  }
  //====================================大图列表 End====================================================

  //====================================小图列表 Start==================================================
  dl.small_img {
    ._clearfix;
    display: none;
    @media @pc {
      margin-top: 9px;
      margin-bottom: 40px;
    }
    @media @mobile {
      //column-count: 2;
      //column-gap: 5px;
      //column-fill: balance;
      margin: 0 5px 20px 5px ;
      //text-align: center;
      text-align:justify;
      width: 101%;
    }
    dd.item {
      background-color: @white;
      transition: all 0.2s ease-out;
      position: relative;
      ._1626-breakpoints("small-goods-margin");
      @media @pc {
        float: left;
        width: @small-goods__width;
        height: @small-goods__width;
      }
      @media @mobile {
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        width: 45%;
        margin: auto 5px 15px 5px;
        display: inline-block;
        text-align:center;
        vertical-align:top;
      }

    }
    .item-s_image {
      position: relative;
      overflow: hidden;
      @media @pc {
        height: @small-goods__width;
      }
      @media @mobile {
        //height: 45%;
        padding-bottom: 100%;
        height: 0;
      }
      img {
        width: 100%;
      }
    }
    .item-s_description {
      width: 100%;
      transition: all 0.2s;
      @media @pc {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        height: 100%;
      }
      @media @mobile {
        height: 120px;
        position: relative;
      }
      .item-s_action {
        position: absolute;
        div {
          display: inline-block;
          font-size: @font-size-l;
          color: @white;
          cursor: pointer;
          transition: all 0.2s;
          @media @pc {
            position: relative;
            margin-left: 8px;
          }
          @media @mobile {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
          &:hover {
            .icon {
              color: @blue;
            }
          }
        }
        div.action-add_special{
        }
        div.action-edit {
        }
        div.action-delete {

        }
        div.action-add_like {
          img{
            position: absolute;
            z-index: 999;
            display: none;
            @media @pc {
              width: 33px;
              right: -7px;
              top: -3px;
            }
            @media @mobile {
              width: 30px;
              right: 17px;
              left: 0;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
          i{
            transition: all 0.2s;
            z-index: 99999;
            &.icon-hearted {
              color: @red;
            }
            @media @pc {
              color: @white;
            }
            @media @mobile {
              color: @grey;
            }
          }
          &:hover i{
            color: @red;
          }
          .like_count{
            @media @pc {
              display:none;
            }
            @media @mobile {
              color: @grey;
              position: relative;
              top: 2px;
              margin-left: 5px;
              line-height: 50px;
            }
          }
          @media @mobile {
            text-align: center;
          }
        }

        @media @pc {
          right:12px;
          top:8px;
        }
        @media @mobile {
          right: 0;
          bottom: 0;
          z-index: 99;
          background: white;
          height: 50px;
          width: 50%;
        }
      }
      .item-s_owner {
        float: left;
        margin: @item-content-padding;
        img {
          width: 24px;
          border-radius: 20px;
        }
        @media @mobile {
          display:none;
        }
      }
      .item-s_info {
        position: absolute;
        @media @pc {
          bottom: 28px;
          width: 161px;
          padding: 0 12px;
        }
        @media @mobile {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          padding: 0 8px;
        }
        .item-s_isnew {
          //float: left;
          width: @small-goods__width - (@item-content-padding*2);
          margin: 0;
          color: @grey;
          line-height: 16px;
          //height:20px;
          //overflow: hidden;
          a {
            color: @grey;
            font-size: @font-size-xs;
            border-bottom: 2px solid @grey;
            &:hover {
              color: white;
              border-bottom: 2px solid @blue;
            }
          }
          span {
            color: @grey;
            font-size: @font-size-xs;
            margin-right: 3px;
          }
          @media @mobile {
            display:none;
          }
        }
        .item-s_title {
          margin-top: @item-content-padding/2;
          word-break:break-all;
          display:-webkit-box;
          -webkit-line-clamp:3;
          -webkit-box-orient:vertical;
          a {
            line-height: 18px;
            display: block;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media @pc {
              color: @white;
              font-size: @font-size-s;
              max-height: 36px;
            }
            @media @mobile {
              color: @black;
              font-size: @font-size-m;
              max-height: 55px;
            }
          }
          span {
          }
        }
        .item-s_price {
          //width: @small-goods__width - (@item-content-padding*2);
          margin: 6px 0;
          //float: left;
          span {
            font-size: @font-size-m;
            //font-weight: bold;
            color: @grey;
          }
          @media @mobile {
            display:none;
          }
        }
      }
      .item-s_additional {
        position: absolute;
        @media @pc {
          bottom: @item-content-padding - 4;
          left: @item-content-padding;
        }
        @media @mobile {
          bottom:0;
          left: 0;
          height: 50px;
          width: 50%;
          background-color: @light-grey;
          text-align: center;
        }
        span {
          color: @grey;
          @media @pc {
            font-size: @font-size-xs;
            margin-right: 2px;
          }
          @media @mobile {
            line-height: 50px;
            font-size: @font-size-l;
          }
        }
        .count {
          @media @pc {
            margin-right: 8px;
          }
          @media @mobile {
            position: relative;
            top: 3px;
            margin-left: 5px;
          }
        }
        .icon_like,.like_count,.icon-comment,.comment_count{
          @media @pc {

          }
          @media @mobile {
            display:none;
          }
        }
      }
    }
    dd:hover .item-s_description {
      @media @pc {
        opacity: 1;
      }
    }
    dl.collocation {
      position: absolute;
      bottom: 40px;
      //left: 12px;
    }
    dd.collocation_item {
      float: left;
      margin-left: 11px;
      .goods_item {
        width: 32px;
        height: 32px;
        overflow: hidden;
        img {
          border: 0;
          width: 32px;
          height: 32px;
        }
      }
    }

    //关于发布那一块
    .publish_entrance{
      text-align: center;
      //display: box;
      //box-orient: horizontal;
      //box-pack: center;
      //box-align: center;
      cursor: pointer;
      //width: @small-goods__width - 2;
      //height: @small-goods__width - 2;
      //border: 1px solid @blue;
      box-shadow: inset 0 0 1px @blue;
      @media @mobile {
        display:none;
      }
      div{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin: auto;
        width:auto;
        height:40px;
        i{
          color:@blue;
          font-size: 40px;
          font-weight: lighter;
        }
        span,br{
          display: none;
        }
      }
    }
  }
}
//====================================小图列表 End====================================================

//====================================列表为吉 Start==================================================
  .list-empty{

    background-color: @light-grey;
    position: relative;
    display:none;
    @media @pc {
      height: 60px;
      padding: 50px;
      margin: 40px auto 50px;
    }
    @media @mobile {
      height: 100px;
      padding: 30px;
      margin: 20px auto 40px;
    }
    .empty-content{
      //width:630px;
      margin: auto;
      @media @pc {
        display: table;
      }
      .empty-icon{
        float: left;
        margin-right: 20px;
        @media @mobile {
          height: 180px;
        }
        span{
          font-size: 60px;
          line-height: 60px;
        }
      }
      .empty-message{
        font-size: @font-size-m;
        @media @pc {
          float: left;
          padding-top: 8px;
          margin-right: 40px;
        }
        span{
          font-weight: bold;
        }
      }
      .empty-action{
        float: left;
        cursor: pointer;
        @media @mobile {
          position: relative;
        }
        a{
          line-height: 60px;
          border: 2px solid @blue;
          background-color: @white;
          transition: all 0.2s;
          color:@black;
          padding: 8px 20px;
          border-radius: 60px;
          i{
            position: relative;
            top:-2px;
            margin-right: 5px;
            //color:@blue;
          }
          &:hover{
            background-color: @blue;
            color:@white;
            //i{
            //  color:@white;
            //}
          }
        }
        &.publish_entrance{
          @media @mobile {
            display: none;
          }
        }
      }

      div.action{
        height: 30px;
        line-height: 28px;
        width: 100px;
        margin: 0 auto;
        border: solid 1px @dark-grey;
        border-radius: 15px;
        //padding: 0 5px;
        background-color: @white;
        color:@black;

        font-size: @font-size-s;
        text-align: left;
        position: relative;

        .icon{
          font-size: 25px;
          transition: all 0.1s ease-out;
          position: absolute;
        }

        label{
          position: absolute;
          cursor: pointer;
        }

        label.sl2{
          display: none;
        }

        &.follow_ed:hover{
          label.sl1{
            display: none;
          }
          label.sl2{
            display: block;
          }
        }
      }

      div.action.follow_empty{
        position: relative;
        top: 14px;
        .icon{
          top:3px;
          left: 3px;
        }
        label{
          top:1px;
          left: 33px;
        }
        &:hover{
          .icon{
            font-size: 28px;
            top:1px;
            left: 1px;
          }
        }
      }

      div.action.follow_ed{
        .icon{
          top:3px;
          right: 3px;
        }
        label{
          top:1px;
          right: 33px;
          text-align: right;
        }
        &:hover{
          .icon{
            font-size: 28px;
            top:1px;
            right: 1px;
          }
        }
      }
    }
  }

  .empty_recommand_title{
    display: none;
    @media @mobile {
      position: relative;
      height: 10px;
      a{
        position: absolute;
        left:20px;
        color: @grey;
      }
    }
  }

  .empty_recommand{
    display: none;
  }

//====================================列表为吉 End====================================================
//====================================加载中 Start==================================================
  .list-loading {
    margin: 40px auto 50px;
    background-color: @light-grey;
    height: 60px;
    position: relative;
    padding: 50px;
    display: none;
    .loading-message{
      margin: auto;
      display: table;
      i{
        font-size: 40px;
        line-height: 50px;
      }
      span{
        font-size: @font-size-m;
        margin-left: 20px;
        font-weight: bold;
        position: relative;
        top:5px;
      }
    }
  }


//====================================加载中 End====================================================

.item-pagiation{
  //float: left;
  width:100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
  display: none;
  clear: both;
  .show-more{
    margin: 0 auto;
    color: @grey;

    border-radius: 30px;

    font-size: @font-size-m;
    cursor: pointer;
    box-shadow: 0 1px 3px @grey;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: 0 1px 5px @dark-grey;
    }
    @media @pc {
      width: @big-goods__width*2+30;
      height:60px;
      line-height: 60px;
    }
    @media @mobile {
      width:90%;
      height:40px;
      line-height: 40px;
    }
  }
}

