.item-container{

}

.item-container dd{
  float: left;
  margin: 20px 15px 10px 15px;
  /*border: 1px solid #000;*/
  border-bottom: 2px solid #fff;
  width: 280px;
  /*height:435px;*/
  min-height: 435px;
  box-shadow: 0 1px 3px #b4b4b4;
}

.item-container dd:hover{
  box-shadow: 0 1px 5px #808080;
  border-bottom: 2px solid #00d0dc;
}

.item-image{
  height:280px;
  overflow: hidden;
  position: relative;
}

.item-description{
  padding: 12px;
}

.item-description .item-isnew span{
  color:#b4b4b4
}

.item-description .item-title span{
  font-size:16px;
}

.item-description .item-price{
  margin-top: 16px;
}

.item-description .item-price span{
  font-size:16px;
  font-weight: bold;
}