@item-image-button-wh : 40px;

.item-container {

}

.item-container dd {
  float: left;
  margin: 20px 15px 10px 15px;
  border-bottom: 2px solid @white;
  width: 280px;
  min-height: 435px;
  box-shadow: 0 1px 3px @grey;
}

.item-container dd:hover {
  box-shadow: 0 1px 5px @dark-grey;
  border-bottom: 2px solid @blue;
}

.item-image {
  height: 280px;
  overflow: hidden;
  position: relative;
}

.item-image .item-addtospecial {
  position: absolute;
  left: 12px;
  bottom: 12px;
  background-color: @white;
  width: @item-image-button-wh;
  height: @item-image-button-wh;
  border-radius: @item-image-button-wh/2;
  cursor: pointer;
  transition: width 0.2s ease-out;
}

.item-image .item-addtospecial span{
  display: none;
  font-size: @font-size-s;
  color:@white;
  height:@item-image-button-wh;
  line-height: @item-image-button-wh;
}

.item-image .item-addtospecial:hover {
  background-color: @blue;
  width: @item-image-button-wh*2;
}

.item-image .item-addtospecial:hover span{
  display:block;
}

.item-image .item-addtolike {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background-color: @white;
  width: @item-image-button-wh;
  height: @item-image-button-wh;
  border-radius: @item-image-button-wh/2;
  cursor: pointer;
}

.item-image .item-addtolike:hover {
  background-color: @blue;
}

.item-description {
  padding: 12px;
}

.item-description .item-isnew span {
  color: @grey
}

.item-description .item-title span {
  font-size: @font-size-m;
}

.item-description .item-price {
  margin-top: 16px;
}

.item-description .item-price span {
  font-size: @font-size-m;
  font-weight: bold;
}

.item-description .item-additional {
  margin-top: 12px;
  height: 26px;
  position: relative;
}

.item-description .item-additional img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.item-description .item-additional .item-value {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.item-description .item-additional .item-value span {
  color: @grey;
  font-size: @font-size-xs;
}

.item-description .item-additional .item-value i {
  margin-left: 10px;
}



