@import "../../../public_inc/source/less/imports";
@keyframes rotate {from {transform: rotate(0);} to {transform: rotate(360deg);}};
@keyframes slideright {from {margin-left: 6px;} to {margin-left: 60px;}};
.profile-container {
  height: 300px;
  background: url("/tpl/hi1626/v2/images/test_bg.jpg") no-repeat center center rgba(0, 0, 0, .5);
  background-size: cover;
  position: relative;
  .profile {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 507px;
    padding-top: 38px;
    color: white;
    img {
      height: 100px;
      width: 100px;
      border-radius: 100px;
      background-color: @black;
    }
    h3 {
      font-size: 20px;
      margin-top: 3px;
    }
    .profile__level {
      position: absolute;
      top: 153px;
      right: 128px;
      font-size: 12px;
      background-color: @black;
      width: 37px;
      border-radius: 11px;
    }
    p {
      font-size: 12px;
    }
    .profile__follow-btn {
      position: absolute;
      top: 149px;
      right: 59px;
      width: 96px;
      height: 30px;
      background-color: @black;
      font-size: 14px;
      border-radius: 38px;
      line-height: 2.3;
      text-align: left;
      cursor: pointer;
      overflow: hidden;
      a,
      a:link,
      a:visited,
      a:hover
      a:active {
        color: inherit;
      }
      .slider {
        display: inline-block;
        transition: margin-left .5s linear;
      }
      .slider.slideright {
        margin-left: 60px;
      }
      .icon-follow.slideright {
        animation: .5s linear 0s 1 normal rotate;
      }
      .icon-unfollow.slideleft {
        animation: .5s linear 0s 1 reverse rotate;
      }
      .slider.slideleft {
        margin-left: 0;
      }

      // .status_text {
      //   display: none;
      // }
      // .status_text.slideright{
      //   margin-left: -44px;
      // }
      // .success-fo {
      //   display: none;
      //   margin-left: -46px;
      // }
      // span.followed {
      //   margin-left: 11px;
      //   margin-right: 5px;
      // }
      &:hover {
        color: @blue;
        .slider {
          // animation: 1s linear 0s 1 normal slideright;
          // margin-left: 60px;
        }
        .icon-follow {
          transform: scale(1.4);
          // animation: 1s linear 0s 1 normal rotate;
          // transform: rotate(360deg);
        }
      }
      .icon-follow {
        display: inline-block;
        margin-top: -6px;
        // transition: 1s linear 0s;
      }
      .icon-follow:before, .icon-unfollow:before {
        font-size: 20px;
        margin-right: 7px;
        margin-left: 6px;
      }
      .icon-edit:before {
        font-size: 20px;
        margin-right: 4px;
        margin-left: 6px;
      }
    }
  }
  .content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    margin-top: 29px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .content__actions {
      margin-left: auto;
      margin-right: auto;
      width: 357px;
      color: white;
      font-size: 12px;
      li {
        float: left;
        line-height: 5;
        width: 33%;
        text-align: center;
        // background-size: 200% 100%;
        // background-image: linear-gradient(to left, rgba(0,0,0,0) 50%, white 50%);
        transition: background-position 1s;
        border-radius: 4px 4px 0 0;
        &:hover {
          background-color: white;
          color: @black;
          // background-position: -100% 0;
          .icon {
            color: @blue;
          }
        }
      }
    }
    .content__relationship {
      color: white;
      font-size: 12px;
      margin-right: 119px;
      position: absolute;
      right: 0;
      top: 0;
      li {
        line-height: 5;
        margin-left: 40px;
        display: inline-block;
        text-align: center;
      }
    }
    .icon {
      display: block;
      font-size: 20px;
      margin-bottom: -18px;
      margin-top: 10px;
    }
  }
}