if production
  - var image_path  = './tpl/hi1626/v2/images/'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.fixed-nav-container
  ul.fixed-nav
    li.fixed-nav__phone
      a
        i.icon.icon-phone
        | 手机更好玩
      .drop-down-list(style="z-index: 9000;")
        .iOS-qrcode
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 扫码下载
        .os-choice
          .iTunes
            i.icon.icon-apple
            | iTunes
          .Android
            i.icon.icon-android
            | Android
          p 直接下载
        p.follow-us 关注我们！！
        .wechat
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 你敢扫吗
        .weibo
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 潮人养成记
    li.fixed-nav__help
      a 帮助中心
      ul.drop-down-list
        li
          a 订单帮助
        li
          a 发布指引
    li.fixed-nav__avatar
      //- if login
      //- img
      //- span
      //-   a |退出
      //- else
      a 登录
      span |
      a 注册
    li 消息
      span.fixed-nav__number.fixed-nav__number--blue 30
    li
      i.icon.icon-flashbuy
      span.fixed-nav__number.fixed-nav__number--orange 2

.main-nav-container
  ul.main-nav
    li.main-nav__logo
      a
        img(src='#{image_path}/logo-1626-black.svg')
    li
      a 首页
    li
      a 资讯
    li.main-nav__flashbuy
      a 潮闪购
    li
      a 搭配
    li
      a 达人
  .main-nav__search
    form
      i.icon.icon-search
      input(type='text' placeholder='搜一下变交街架')
      i.icon.icon-return
  ul.main-nav--right
    li.main-nav__me
      a
        i.icon.icon-hand
        | 我的潮品
    li.main-nav__subscribe
      a
        i.icon.icon-publish_solid
        | 发布

script.
  $(document).ready(function () {
    init_global_header();
  });
if !production
  </body>