// 首页的<head>
include source/jade/includes/head.jade

// 全局页头
//{template v2/views/public/global_header}

#homepage-wrap

  include source/jade/includes/section__slideshow.jade

  .center-wrap
    include source/jade/includes/section__headlines.jade

    include source/jade/includes/section__ad.jade

    include source/jade/includes/section__specials.jade

    include source/jade/includes/section__goods.jade

    include source/jade/includes/section__hot-news.jade


// 全局页脚
//{template v2/views/public/global_footer}

include source/jade/includes/scripts.jade
</body>
</html>