-var production = true
if production
  - var image_path = '{$_FANWE[site_url]}/tpl/hi1626/v2/images'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.form__container.item-list-container
  h4.form__header
    |发布潮品
  form.form__body
    dl.big_img.static
      dd.item.longer
        .item-b_image.preview
          .dragger
            i.icon.icon-drag
          //- img(src= image_path + "/pikachu.jpeg")
        .item-b_description
          .item-b_isnew
            span.item_tag new
            span 新发布
          a
            .item-b_title 
              span 商品标题
            .item-b_price
              span ¥0.00
        .item-b_additional
          a
            img(src="{avatar $_FANWE['uid'] s 1 $_FANWE['user']['img_thumb']}")
          .item-value
            span.icon.icon-viewed
            span 0
            span.icon.icon-comment--s
            span 0
        .item-b_add_like.btn_like
          a
            span.icon.icon-heart
            br
            span.like_count 0
    .form__editor
      .url-info
        .url-input
          i.icon.icon-link
          input(type="text" name="url")
        a.reload 重新读取
        .form-urlwarning
      .url-img-processor
        .imgs-wrapper
          //- .url-img
          //-   img(src= image_path + "/pikachu.jpeg")
          //- .url-img
          //-   img(src= image_path + "/pikachu.jpeg")
          .img-adder
            div
              i.icon.icon-publish
            input(type="file" id="file1" name="image[]" multiple="multiple")
        p 支持JPG、GIF、PNG、JPEG格式图片，每张大小5M内
          br
          | 请保证图片清晰无水印，否则无法通过审核！
      .item-details
        h3 单品信息
        input.item-details__title(type="text" placeholder="标题" name="title")
        input.item-details__price(type="text" placeholder="价格" name="price")
        input.item-details__brand(type="text" placeholder="品牌（选填）" name="brand")
        select.item-details__category(type="text" placeholder="品类" name="category")
          | 类别
        select.item-details__category2(type="text" placeholder="颜色（选填）" name="category2") 
          | 颜色
        select.item-details__style(type="text" placeholder="风格（选填）" name="style") 
          option 风格（选填）
      .item-tags
        h3 标签
        .tag-input
          i.icon.icon-label
          input(type="input" name="tag" placeholder="请以逗号分隔各个标签")
        ul.mytags
          li.tag-title 我的标签：
          //- li.unselected 复古
          //- li.unselected 秋冬
          //- li.unselected 军事
        //- ul.hit-tags
        //-   li.tag-title 常用标签：
      .item-recommendation
        h3 推荐理由
        .item-recommendation-container
          textarea(rows="4" placeholder="说吧，说了我也不会买")
          p 0/300
      .buttons
        button.publish(type="submit") 发布
        button.cancel(type="reset") 取消
      .warning
    .form__share
      div
        a.publish-tool(href='javascript:void((function(){var e= document.createElement("script");e.setAttribute("type","text/javascript");e.setAttribute("charset","UTF-8");e.setAttribute("src","{$_FANWE[site_url]}public/js/im.ping.js?v="+Math.random()*99999999);document.body.appendChild(e)})());')
          span 分享至1626
        .inline-block
          h4 采集工具
          p 拖拽左侧“手掌”图标至浏览器书签栏
            br
            | 逛到潮品，一键分享到1626
      div
        i.icon.icon-question
        a.pubtutorial(href="/about/help.html" target="_blank") 发布教程

if !production
  </body>