-var production = true
if production
  - var image_path = '{$_FANWE[site_url]}/tpl/hi1626/v2/images'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'

.fixed-nav-container
  ul.fixed-nav
    li.fixed-nav__phone
      a
        i.icon.icon-phone
        | 手机更好玩
      .drop-down-list(style="z-index: 9000;")
        .iOS-qrcode
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 扫码下载
        .os-choice
          .iTunes
            i.icon.icon-apple
            | iTunes
          .Android
            i.icon.icon-android
            | Android
          p 直接下载
        p.follow-us 关注我们！！
        .wechat
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 你敢扫吗
        .weibo
          img(src="#{image_path}/top_pro_ios.jpg", alt="ios")
          p 潮人养成记
    li.fixed-nav__help
      a 帮助中心
      ul.drop-down-list
        li
          a 订单帮助
        li
          a 发布指引
    li.fixed-nav__avatar
      {if $_FANWE['uid'] > 0}
      img(src="{avatar $_FANWE['uid'] s 1 $_FANWE['user']['img_thumb']}")
      span.quit-span |
        a(href="{u user/logout}") 退出
      {else}
      a(href="{u user/login}") 登录
      span |
      a(href="{u user/register}") 注册
      {/if}
    li.fixed-nav__msg 
      | 消息
      span.fixed-nav__number.fixed-nav__number--blue 30
      ul.drop-down-list
        li.get-likes
          //- if like > 0
          i.icon.icon-heart
          | 获得了 
          | 1 
          | 次喜欢：
          a.get-likes__title Supreme Hanes Boxer Briefs联名内裤
          |  来自 
          a.get-likes__viewer 陈开心
        li.get-fans
          //- new fans > 0
          i.icon.icon-fans
          | 新增 
          | 17 
          | 个粉丝：
          //- loop fans
          a.get-fans__name Slash
          a.get-fans__name Kurt Cobain
          |  等
          | 17
          | 人
        li.get-comments
          i.icon.icon-comment
          | 有 
          | 30 
          | 个留言：
          a.get-comments__title SealLayLowSing
          |  来自 
          a.get-comments__user 许冠杰
        li.get-recomendded
          i.icon.icon-news
          | 您的潮品 
          a.get-recomendded__good 风之手里剑
          |  被推荐到首页
        li.check-all 
          a 查看全部
    li.fixed-nav__flash-buy
      i.icon.icon-flashbuy
      iframe.cart-num(src="http://www.1626buy.cn/shangyi/txu/5326-1594.html" width="14px" height="14px" scrolling="no")
      .invisible-menu
        a 购物车
        iframe(src="http://www.1626buy.cn/shangyi/txu/5326-1594.html" width="14px" height="14px" scrolling="no")
        | |
        a 我的订单


.main-nav-container
  ul.main-nav
    li.main-nav__logo
      a(href='http://www.1626.com',target='_blank')
        img(src='#{image_path}/logo-1626-black.svg')
    li
      a 首页
    li
      a 资讯
    li.main-nav__flashbuy
      a 潮闪购
    li
      a 搭配
    li
      a 达人
  .main-nav__search
    form
      i.icon.icon-search
      input(type='text' placeholder='搜一下变交街架')
      i.icon.icon-return
  ul.main-nav--right
    li.main-nav__me
      a
        i.icon.icon-hand
        | 我的潮品
    li.main-nav__subscribe
      a
        i.icon.icon-publish_solid
        | 发布

//- script.
//-   $(document).ready(function () {
//-     init_global_header();
//-   });
if !production
  </body>